
footer {
    background-color: #0a0a0ae1;
    width: 100%;
    position: relative;
    color: #fff;
    box-sizing: border-box;

    .footer {
        /* height: 560px; */
        .foo {
            display: flex;
            p {
                font-size: 16px;
            }
            .foot {
                flex: 1;

                padding: 20px;
                position: relative;
                &:nth-child(1) {
                    padding-left: 0;
                    margin-left: 0;
                    &::before {
                        content: "";
                        height: 350px;
                        width: 1px;
                        background-color: #ccc;
                        display: block;
                        position: absolute;
                        top: 20%;
                        right: -10px;
                    }
                }

                .marca {
                    .logor {
                        .btnsaiba {
                            border: 1px solid #4099ff;
                            padding: 4px 6px;
                            border-radius: 2px;
                            font-size: 12px;
                            color: #4099ff;
                            display: inline-block;
                            margin-bottom: 20px;
                            &:hover {
                                color: #438ce0;
                            }
                        }
                        img {
                            width: 180px;
                        }
                        p {
                            margin: 8px 0 5px;
                            letter-spacing: 1px;
                            line-height: 1.4;
                            margin-bottom: 20px;
                            font-size: 14px;
                        }
                    }
                    .contacto {
                        h1 {
                            display: block;
                            font-size: 14px;
                            font-weight: 600;
                            padding-bottom: 5px;
                            letter-spacing: 1px;
                            color: #fff;
                            &::after {
                                content: "";
                                width: 35px;
                                height: 2px;
                                background-color: #ccc;
                                display: block;
                                margin-top: 5px;
                            }
                        }
                        p {
                            margin: 10px 0;
                            letter-spacing: 0.5;
                            font-size: 0.8em;
                            line-height: 1.3;
                            font-size: 14px;
                            span {
                                height: 20px;
                                width: 20px;
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid #4099ff;
                                border-radius: 1px;
                                padding: 12px;
                            }
                            .i {
                                color: #4099ff;
                            }
                            a {
                                color: #fff;
                            }
                        }
                    }
                }

                .nav {
                    margin-top: 40px;
                    li {
                        margin: 10px 0;
                        a {
                            color: #f5f8fd;
                            font-size: 14px;
                        }
                    }
                }

                .newsletter {
                    height: 150px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    display: block;
                    p {
                        font-size: 16px;
                        margin-bottom: 20px;
                    }
                    form {
                        .email {
                            display: flex;
                            align-items: center;
                            background-color: #f5f8fd;
                            padding-left: 5px;
                            width: 65%;
                            border-radius: 4px;
                            overflow: hidden;
                            .fa-envelope {
                                color: #383737;
                            }
                        }
                        input {
                            display: block;
                            padding: 10px 4px;
                            background-color: transparent;
                            width: 100%;
                            font-size: 14px;
                            border: none;
                            outline: none;
                        }
                        input[type="submit"] {
                            background-color: #0077b5;
                            width: 20%;
                            color: #fff;
                            cursor: pointer;
                            border-radius: 4px;
                            margin-top: 10px;
                            &:hover {
                                background-color: #1470a1;
                            }
                        }
                    }
                }
            }
            .foot1 {
                flex: 1;
                padding: 20px 0 20px 30px;
            }
            .foot2 {
                flex: 1;
                padding-left: 20;
                padding-right: 0;
                margin-left: 0;
                margin-right: 0;
            }
        }

        .foot-p {
            border-top: 1px solid #ccc;
            width: 100%;
            display: grid;
            align-items: center;
            padding: 10px 0;
            .copy,
            .termos {
                grid-column: 1;
                color: #fff;
                font-size: 0.7rem;
                letter-spacing: 1px;
                a {
                    color: #e88d76;
                }
            }
            .termos {
                grid-column: 2;
                text-align: center;
                a {
                    color: #fff;
                    &:hover {
                        color: #464545e1;
                    }
                }
            }
            .redes-s {
                grid-column: 3;
                display: flex;
                justify-content: flex-end;
                span {
                    display: inline-flex;
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    justify-content: center;
                    align-items: center;
                    margin: 0 5px;
                    transition: all 0.5s;
                    &:nth-child(1):hover {
                        background-color: #3b5998;
                        border: none;
                        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                        a {
                            color: #fff !important;
                        }
                    }
                    &:nth-child(2):hover {
                        background: #f09433;
                        background: -moz-linear-gradient(
                            45deg,
                            #f09433 0%,
                            #e6683c 25%,
                            #dc2743 50%,
                            #cc2366 75%,
                            #bc1888 100%
                        );
                        background: -webkit-linear-gradient(
                            45deg,
                            #f09433 0%,
                            #e6683c 25%,
                            #dc2743 50%,
                            #cc2366 75%,
                            #bc1888 100%
                        );
                        background: linear-gradient(
                            45deg,
                            #f09433 0%,
                            #e6683c 25%,
                            #dc2743 50%,
                            #cc2366 75%,
                            #bc1888 100%
                        );
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
                        border: none;
                        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                        a {
                            color: #fff !important;
                        }
                    }
                    &:nth-child(3):hover {
                        background-color: #4099ff;
                        border: none;
                        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                        a {
                            color: #fff !important;
                        }
                    }
                    &:nth-child(4):hover {
                        background-color: #fff;
                        border: none;
                        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                        a {
                            color: #e53935 !important;
                        }
                    }
                    &:nth-child(5) {
                        margin-right: 0 !important;
                    }
                    &:nth-child(5):hover {
                        background-color: #fff;
                        border: none;
                        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                        margin-right: 0 !important;
                        a {
                            color: #181818 !important;
                        }
                    }
                    a {
                        color: #fff;
                        font-size: 20px;
                        display: flex;
                    }
                }
            }
        }
    }
}