*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container {
  width: 1400px;
  margin: 0 auto;
  padding: 0;
  /* position: relative; */
}
.container:after,
.container:before {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12,
.grid-13,
.grid-14,
.grid-15,
.grid-16,
.grid-1-3 {
  float: left;
  /* margin-left: 10px;
  margin-right: 10px; */
  
}
.grid-1 {width:67px;}
.grid-2 {
    width:157.5px;
    margin-right: 10px !important;
    margin-left: 10px !important;
    &:nth-last-child(1){
        margin-right: 0 !important;
      }
      &:nth-last-child(8){
          margin-left: 0 !important;
      }
}
.grid-3 {width:241px;}
.grid-4 {
  width: 335px;
  margin-right: 10px;
  margin-left: 10px;
  &:nth-last-child(1){
      margin-right: 0;
  }
  &:nth-last-child(4){
      margin-left: 0;
  }
}
.grid-5 {width:415px;}
.grid-6 {
    width:502px;
    margin-left: 0 !important;
    margin-right: 10px;
}
.grid-7 {
    width: 579px;
    margin-left: 0 !important;
    margin-right: 10px;
}
.grid-8 {
    width: 690px;
    margin-right: 10px;
    margin-left: 10px;
    &:nth-last-child(1){
      margin-right: 0;
    }
    &:nth-last-child(2){
        margin-left: 0;
    }
}
.grid-9 {
    width:801px;
    margin-left: 10px;
    margin-right: 0 !important;
}
.grid-10 {
    width:878px;
    margin-left: 10px;
    margin-right: 0 !important;
}
.grid-11 {width:937px;}
.grid-12 {width:1024px;}
.grid-13 {width:1111px;}
.grid-14 {width:1198px;}
.grid-15 {width:1285px;}
.grid-16 {width:1372px;}
.grid-1-3 {
  width: 453px;
  margin-right: 10px !important;
  margin-left: 10px !important;
  &:nth-last-child(1){
    margin-right: 0 !important;
  }
  &:nth-last-child(3){
      margin-left: 0 !important;
  }
}
