
.home {
    height: 100vh;
    position: relative;
    .redes {
        position: absolute;
        left: 48px;
        bottom: 54px;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 1.2rem;
        line-height: 1.75;
        text-align: center;
        z-index: 1;
        &::before {
            display: block;
            content: "";
            width: 2px;
            height: 42px;
            background-color: rgba(255, 255, 255, 0.3);
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 12px;
        }
        a {
            color: #fff;
            &:hover {
                color: #e9e9e9;
            }
        }
    }

    .fim {
        position: absolute;
        left: 50%;
        width: 30px;
        height: 40px;
        bottom: 6px;
        border: 2px solid #438ce0;
        transform: translateX(-50%);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 14px;
        z-index: 1;

        &::after {
            content: "";
            width: 4px;
            height: 8px;
            background: #fff;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.125),
                0 1px 3px rgba(0, 0, 0, 0.2);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 10px;
            -webkit-animation: 1s ease-in 0s infinite alternate none running
                scroll;
            animation: 1s ease-in 0s infinite alternate none running scroll;
        }

        &::before {
            content: "";
            width: 1px;
            height: 18px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            display: block;
            background-color: #fff;
        }
    }
}

@-webkit-keyframes scroll {
    100% {
        top: 8px;
    }
    0% {
        top: 3px;
    }
}
@keyframes scroll {
    100% {
        //opacity: 1;
        top: 8px;
    }
    0% {
        //opacity: 0;
        top: 3px;
    }
}