.portfolio{
    padding: 120px 0 70px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 2%;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 80px;
        display: block;
        background-color: #393939;
    }
    .eq-cab {
        position: relative;
        width: 800px;
        display: block;
        margin: 0 auto 30px;

        .titulo {
            text-align: center;
            color: #393939;
            font-size: 2.4rem;
            line-height: 1.375;
            letter-spacing: -0.1rem;
            span {
                color: #e88d76;
                font-weight: 600;
            }
        }
        .desc {
            color: #ffffffc7;
            line-height: 1.5;
            font-size: 1.4rem;
            text-align: center;
            font-family: "Rubik","Poppins", "sans-serif";
            margin: 10px 0 40px;
            span{
                background-color: #dce9ff;
                padding: 4px 8px;
                border-radius: 4px;
                font-weight: 500;
                font-size: 14px;
                color: #3f506d;
                display: inline-block;
            }
        }
    }

    .tabs-projetos{
        ul{
            position: relative;
            margin-bottom: 50px;
            li{
                display: inline-block;
                color: #393939;
                margin-right: 20px;
                margin-bottom: 5px;
                font-weight: 500;
                font-size: 18px;
                text-transform: uppercase;
                cursor: pointer;
                &:hover{
                    color: #8d8c8c;
                }
            }
            #animacao{
                position: absolute;
                height: 3px;
                bottom: 0;
                z-index: -1;
                background: #438ce0;
                border-radius: 2px;
                transition: all 1s;
                box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
            }
            .todos-p,
                li:nth-child(1):hover ~ .animacao {
                    width: 62px;
                    left: 0;
                }
        }

        .projetos-todos{
            
            .grid-1-3{
                height: 400px;
                position: relative;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: all .5s ease;
                }
                &:hover img{
                    transform: scale(1.2);
                }
                .saiba-pro{
                    display: flex;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    background: linear-gradient(#35353541,#75767762);
                    width: 100%;
                    height: 100%;
                    justify-content:space-around;
                    align-items: center;
                    flex-direction: column;
                    h1{
                        color: #fff;
                        font-size: 18px;
                        text-transform: uppercase;
                        font-weight: 600;
                        margin-top: 50px;
                    }
                    a{
                       padding: 10px;
                       color: #fff;
                    font-size: 16px;
                        font-weight: 300;
                    text-transform: uppercase;
                       background-color: #438ce0;
                       border-radius: 2px;
                       &:hover{
                        background-color: #5da2f1;
                       }
                    }
                    h2{
                        height: 128px;
                        width: 128px;
                        border-radius: 50%;
                        background-color: #fff;
                        font-size: 13px;
                        color: #3f506d;
                        letter-spacing: 1px;
                        position: absolute;
                        text-transform: uppercase;
                        font-weight: 500;
                        right: -20px;
                        top: -20px;
                        display: flex;
                        align-items:center;
                        padding-left: 7px;
                        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1);
                    }
                }
            }
        }
    }
}

.dados-pr{
    height: 100vh;
    position: relative;
    .pro{
        padding: 150px 0 0;
        overflow: hidden;
        height: 100vh;
        .grid-10{
            height: 450px !important;
            overflow: hidden;
            margin-left: 0;
            margin-right: 10px !important;
           
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: all .5s ease;
                box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
            }
            &:hover img{
                transform: scale(1.2);
                transition: all .5s ease;
                object-fit: contain;
            }
        }
        .grid-6{
            height: 500px !important;
            margin-right: 0;
            margin-left: 10px !important;
        }
    }

    .fo{
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}