@media only screen and (max-width: 767px) {
    .btn-top {
        width: 30px;
        height: 30px;
        .btn-top-pag {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
        }
    }
    .container {
        width: 300px !important;
    }
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12,
    .grid-13,
    .grid-14,
    .grid-15,
    .grid-16,
    .grid-1-3 {
        float: none;
        width: 300px !important;
        margin:0 !important;
    }
     .header-scroll{
        height: 60px !important;
        .bar{
            span{
                background-color:#555 !important;
            }
        }
     }
    .header{
        display: none;
        /* height: 100vh;
        background: #f5f8fd; */
        
        
    .pre-header{
        display: none;
    }
    .menu{
        display: block;
        .logoprincipal{
            z-index: 9999;
            justify-content: space-between;
            a{
                img{
                    padding-top: 10px !important;
                    width: 130px;
                }
            }
            .bar{
                cursor: pointer;
                span{
                    height: 3.5px;
                    width: 30px;
                    display: block;
                    background-color:#fff; //#555;
                    border-radius: 10px;
                    &:nth-last-child(1){
                        width: 15px;
                        float: right;
                        margin: 4px 0;
                    }
                    &:nth-last-child(3){
                        width: 15px;
                        margin: 4px 0;
                        /* float: left; */
                    }
                }
            }
        }
        
        .menu-nav{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            background-color: #f5f8fd;
            height: 100vh;
                display: block;
            .nav{
                padding-top: 80px;
                margin: 0 !important;
                li{
                    display: block;
                    text-align: center;
                    margin: 20px 0;
                    a{
                        color: #555 !important;
                    }
                }
                .animacao {
                    display: none;
                }
            }
        }
    }

    }
    .home{
        width: 100%;
        .fim {
            width: 25px;
            height: 40px;
            border: 1.5px solid #438ce0;
            border-radius: 14px;
            &::before {
                width: 1px;
                height: 14px;
            }

        }
        .redes {
            position: absolute;
            left: 48px;
            bottom: 30px;
            margin: 0;
            padding: 0;
            list-style: none;
            font-size: 1.2rem;
            line-height: 1.75;
            text-align: center;
            z-index: 1;
            &::before {
                height: 30px;
            }
            li{
                margin: -8px 0;
                a {
                    color: #fff;
                    font-size: 14px;
                    &:hover {
                        color: #e9e9e9;
                    }
                }
            }
            
        }
        .part{
            flex-direction: column;
            .mov{
                height: unset !important;
                h1{
                    font-size: 24px !important;
                    margin-bottom: 30px !important;
                }
                .bot{
                    justify-content: space-between;
                    a{
                        padding: 6px;
                        border-radius: 8px;
                        border: 1.5px solid #438ce0;
                        display: table;
                        font-size: 14px !important;
                    }
                    .vid{
                        margin-left: -25px !important;}
                }
            }
        }
    }

    
   .sobre {
    padding: 100px 0 0;
    .sb{
        display: block !important;

        .sobrenos {
            &::after {
                top: -70px;
                height: 50px;
            }
            .titulo{
                font-size: 2.3rem;
            }
            .eq-cab {
                .desc{
                    font-size: 1rem;
                }
                .mais{
                    font-size: 14px;
                    letter-spacing: .4px;
                    margin-bottom: 30px;
                }
            }
        }
        .sobre-video{
            height: 300px;
            #playemp{
                &::before {
                    height: 70px;
                    width: 70px;
                }
                &::after {
                    border-left: 1.425rem solid #fff;
                    border-top: 1.1rem solid transparent;
                    border-bottom: 1.1rem solid transparent;
                }
                .vd{
                    &::before {
                        height: 70px;
                        width: 70px;
                    }
                }
            }
        }
    }
    .redes-sobre{
        padding: 6px;
        border-radius: 15px;
        margin: 30px auto;
        .butProj{
            margin:5px;
            a{
                font-size: 14px;
            }
        }
    }
    .equipa{
        padding: 70px 0 50px;
        .card-l {
            .professor{
                display: block;
                margin: 0 !important;
                height: 100%;
                .membro {
                    margin: 0 !important;
                    
                    h1{
                        font-size: 1.3rem;
                    }
                    .func{
                        h1{
                            font-size: 1rem;
                        }
                    }
                }
                .sobreM{
                    width: 300px;
                    height: 0px; 
                    padding: 0 ;
                    height: unset;
                    
                    p{
                        display: none;
                    }
                    ul{
                        margin: 20px 0;
                        li{
                            font-size: 12px;
                            &::before {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .ferr {
                position: relative;
                padding: 100px 0 0;
                &::after {
                    top: 4%;
                    height: 40px;
                }
                .eq-cab{
                    width: auto;
                    .desc{
                        font-size: 1rem;
                        span{
                            margin-bottom: 20px;
                        }
                    }

                }
            }
        }
        .ferr-texto{
            font-size: 18px;
            span{
                font-size: 20px;
            }

            .oportunidade{
                font-size: 18px;
                width: auto;
                padding: 15px;
            }
        }
    }
    }
    .container-form-l{
        display: block !important;
        padding: 100px 0;
        .titulo{
            padding-top: 20px;
            &::after {
                top: -70px;
                height: 50px;
            }
            .vaga {
                top: 6px;
            }
        }
        .log-l{
            form{
                .input{
                    font-size: 16px !important;
                    padding: 14px 5px !important;
                }
                .flex-d{
                    label{
                        font-size: 14px;
                    }
                    
                }
                .termos-p{
                    flex-direction: column;
                    align-items:unset;
                    .check{
                        justify-content: space-between;
                        margin:8px 0;
                    }
                    input[type="submit"]{
                        width: 100%;
                        display: inline-block;
                    }
                    
                }
               
            }
        }
    }
    .modal-video{
        .corpo-modal{
            width: 300px !important;
            height: 300px !important;
            /* div{
                width: 300px !important;
                height: 300px !important;
            } */
        }
    }
    footer{
        display: none;
    }
}
