.servicos{
    padding: 120px 0 70px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 2%;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 80px;
        display: block;
        background-color: #393939;
    }
    .eq-cab {
        position: relative;
        width: 800px;
        display: block;
        margin: 0 auto 30px;

        .titulo {
            text-align: center;
            color: #393939;
            font-size: 2.4rem;
            line-height: 1.375;
            letter-spacing: -0.1rem;
            span {
                color: #e88d76;
                font-weight: 600;
            }
        }
        .desc {
            color: #ffffffc7;
            line-height: 1.5;
            font-size: 1.4rem;
            text-align: center;
            font-family: "Rubik","Poppins", "sans-serif";
            margin: 10px 0 40px;
            span{
                background-color: #dce9ff;
                padding: 4px 8px;
                border-radius: 4px;
                font-weight: 500;
                font-size: 14px;
                color: #3f506d;
                display: inline-block;
            }
        }
    }
    .contn{
        margin-top: 20px;
        .grid8{
            text-align: center;
            padding: 30px 60px;
            h1{
                font-size: 1.3em;
                text-transform: uppercase;
                font-weight: 500;
                margin: 20px 0;
                &::after{
                    content: "";
                    height: 2px;
                    width: 60px;
                    text-align: center;
                    background-color: #e88d76;
                    margin: 5px auto 0;
                    display: block;
                }
            }
            p{
                font-size: 1em;
                line-height: 1.5;
                color: #393939;
                max-width: 600px;
                margin: 0 auto;
                display: block;
                span{
                    background-color: #dce9ff;
                    padding: 4px 8px;
                    border-radius: 4px;
                    font-weight: 500;
                    font-size: 14px;
                    color: #3f506d;
                    display: inline-block;
                }
            }
            .icon-{
                height: 95px;
                   width: 95px;
                   border-radius: 50%;
                   background-color: #438CE0;
                   margin: 0 auto;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   border: 10px solid #b5d3f3;

                .ic-serv{
                    font-size:  45px !important;
                    color: #fff;
                   
                }
            }
            
        }
    }
    .link{
        margin: 50px auto  0 !important;
        display: block;
        padding: 18px;
        cursor: pointer;
        max-width: 500px;
        background-color: #438CE0;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
        border-radius: 4px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1px;
        border: none;
        outline: none;
        text-align: center;
        color: #fefefe;
        &:hover{
            background-color: #5da2f1;
        }
    }
    
}