@import 'normalize';
@import 'reset';
@import 'grid';
@import 'Header';
@import 'home';
@import 'sobre';
@import 'servicos';
@import 'video';
@import 'portifolio';
@import 'contactos';
@import 'footer';
.btn-branco,
.btn-azul {
    padding: 10px 20px;
    background-color: #fff;
    font-size: 18px;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    color: #555;
    cursor: pointer;
    transition: all 1s;
    border-radius: 2px;
    outline: none;
    text-transform: uppercase;
    &:hover {
        background-color: #d8e7fc;
    }
}

.btn-top{
    position: fixed;
    bottom: 4%;
    right: 2%;
    width: 40px;
    height: 40px;
    z-index: 100;
    border-radius: 2px;
    animation: fadeIn .3s;
    cursor: pointer;
    color: #F4F7FA;
    background-color: #6A7186;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    transition: all .5 ease;
    
    &:hover{
      background-color: #6A7186;
    }
  }
.whatsapp{
    position: fixed;
    z-index: 100;
    animation: fadeIn .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    bottom: 11%;
    right: 1.5%;
    &:hover span{
        display: flex;
    }
   span{
       font-size: 14px !important;
       padding: 6px 10px 6px 8px;
       background-color: #438ce0;
       border-radius: 2px;
       box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
       margin-right: 15px;
       display: none;
       align-items: center;
       position: relative;
       color: #fff;
       &::after{
           content: "";
           display: inline-block;
           ;
           height: 15px;
           width: 15px;
           background-color: #438ce0;
           transform: rotate(45deg);
           position: absolute;
           right: -6px;
           border-radius: 2px;
       }
   } 
   .whats{
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    
  }
.btn-azul {
    background-color: #438ce0;
    color: #fff;
    font-family: "Rubik", "Poppins";
    font-weight: 400;
    &:hover {
        background-color: #5da2f1;
    }
}

.modal-video{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    z-index: 900000;
    display: flex;
    justify-content: center;
    align-items: center;
    .corpo-modal{
        height: 80%;
        width: 60%;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: rgba(46, 61, 73, 0.2) 0px 1px 20px 0px !important;
        position: relative;
        span{
            position: absolute;
            right: -15px;
            top: -10px;
            font-family: "Poppins";
            font-weight: 600;
            font-size: 20px;
            transform: rotate(45deg);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            cursor: pointer;
            color: #fff;
            background-color: #ce4949;
            border-radius: 50%;
            box-shadow: rgba(46, 61, 73, 0.2) 0px 1px 20px 0px !important;
            &:hover{
                background-color: #ca5f5f;
            }
        }
    }
}


// CURSO REACT-NATIVE
.carousel-c {
    background: linear-gradient(
            rgba(24, 24, 24, 0.5),
            rgba(24, 24, 24, 0.5)
        ),
        url("../../img/img-curso/prog.jpg") center center no-repeat;
        background-size: cover;

        
       
}
.inscrever{
    background-color: #f5f8fd;
    padding: 120px 0 0;
    position: relative;

   

}
.insc{
    .grid-10{
        /* display: flex;
        flex-direction: column;
        justify-content: space-around; */
        color: #393939;
        h1,.futuro{
            font-size: 50px;
            font-family: "Poppins";
            text-transform: uppercase;
            font-weight: 300;
            color: #393939;
            max-width: 600px;
            text-align: center;
            margin: 0 auto;
            span{
                color: #e88d76;
                font-weight: 600;
            }
        }
        .futuro{
            font-size: 16px;
            font-family: "Rubik";
            margin-top: 20px;
            font-weight: 400;
            letter-spacing: .5px;
            line-height: 1.4;
            text-transform:lowercase;
            span{
                text-transform: uppercase;
            }
        }

        .conta{
            display: flex;
            /* justify-content: center; */
            max-width: 600px !important;
            margin: 30px auto;
            .numb{
                p{
                    display: inline-block;
                    margin-left:10px;
                }
                
                .num{
                    color: #e88d76;
                    font-weight: 600;
                    font-size: 20px;
                    font-family: "Rubik";
                    &:nth-last-child(1){
                    }
                }
            }
            .ic{
                display: block;
                font-size: 40px;
                margin-bottom: 6px;
                color: #18181880;
                text-align: center;
                
            }
            p{
                display: block;
                text-align: center;
                margin-left:30px;
                letter-spacing: 1px;
                font-weight: 400;
                font-size: 18px;
               
                &:nth-last-child(2){
                    margin-left:0;
                }
            }
        }
        .redes{
            max-width: 600px !important;
            margin: 10px auto 30px;
            text-align: center;
            a{
                color: #181818ab;
                font-size: 32px;
                margin: 0 20px;
                &:hover{
                    color: #18181880;
                }
            }
        }
        .mapa{
            display: block;
            margin: 0 auto;
            max-width: 600px;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            overflow: hidden;
        }
    }
}

.container-form-l{
    height: auto !important;
    padding: 120px 0;
    display: block !important;
    .titulo{
        text-align: center;
        color: #393939;
        font-size: 2.4rem;
        line-height: 1.375;
        margin-bottom: 10px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top:-180%;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 80px;
            background-color: #393939;
            display: block;
        }
        .agora{
            color: #e88d76;
            font-weight: 600;
        }
        .vaga{
            position: absolute;
            top:-18px;
            right:0;
            padding: 4px 10px;
            background-color: #438ce0;
            border-radius: 2px;
            font-size: 14px;
            color: #fff;
            
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
        }
    }
    .obs{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.475;
        span{
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .obrig{
        margin-top: 10px;
    }
    .log-l{
        height: auto !important;
        width: 100% !important;
        margin-top: 20px;

        form{
            .flex-l{
                display: flex;
                .flex-d{
                    &:nth-of-type(1){
                        margin-right: 20px;
                    }
                    input{
                        margin-bottom: 10px !important;
                    }
                }
            }
            .submit{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 30px;
                span{
                    a{
                        display: inline-block;
                        font-size: 10px !important;
                        font-weight: 400 !important;

                    }
                }
            }
            

            
        }
    }
}
.pre-p{
    height: 500px;
    width: 100%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0,.2);
    padding:50px 0;
    background: rgb(67,75,224);
    background: linear-gradient(77deg, rgba(67,75,224,1) 25%, rgba(69,114,203,1) 75%);
    overflow: hidden;
    .texto-p{
        .preparado{
            color: #fff;
            padding: 10px;
            background-color: #e88d76;
            border-radius: 2px;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0,.2);
        }
        h2{
            font-size: 26px;
            font-weight: 500;
            color: #f5f8fd;
            margin: 30px 0;

        }

        ul{
            margin-bottom: 30px;
            li{
                margin: 20px 0;
                color: #fff;
                font-size: 18px;
                font-weight: 300;
                font-family: "Rubik","Poppins";
                display: grid;
                grid-template-columns: 15px 1fr;
                gap: 10px;
                align-items: center;

                &::before{
                    content: "";
                    height: 15px;
                    width: 15px;
                    background-color: #e88d76;
                    margin-right: 10px;
                    border-radius: 50%;
                    border:2px solid #f5f8fd;
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0,.2);
                    
                }


            }
        }
       
    }
    .texto-i{
        
        img{
            width: 100%;
            height: 100%;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0,.2);
        }
    }
}

.modulos{
    height: 100%;
    width: 100%;
    background-color: #f5f8fd;
    padding: 100px 0 0;
    h1{
        text-align: center;
        color: #393939;
        font-size: 2.4rem;
        line-height: 1.375;
        letter-spacing: -0.1rem;
        margin: 40px 0 30px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: -180%;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 80px;
            background-color: #393939;
            display: block;
            
        
        }
        span{
            color: #e88d76;
            font-weight: 600;
        }
    }
    .text{
        font-size: 1.2em;
        text-align: center;
        max-width: 900px;
        margin: 40px auto 40px;
        display: block;
        line-height: 1.6em;
        font-family: "Rubik","Poppins", "sans-serif";
        span{
            font-weight:500;
            color: #000;
        }
    }

    .grid-8{
        margin-bottom: 50px;
    }
    .mod-l{
        margin-bottom: 20px;
    }
    .grid-4{
        height: 300px;
        
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
        position: relative;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .prese{
        height: 100px;
        width: 100%;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0,.2);
        background: rgb(67,75,224);
        background: linear-gradient(77deg, rgba(67,75,224,1) 25%, rgba(69,114,203,1) 75%);
        .container{
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .text-1{
            width: 100%;
            font-family: "Rubik";
            text-align: center;
            color: #fff;
            font-size: 24px
        }
    }

}  

.projectos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0 0 !important;
    h1{
        text-align: center;
        color: #393939;
        font-size: 2.4rem;
        line-height: 1.375;
        letter-spacing: -0.1rem;
        margin: 40px 0 20px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: -200%;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 80px;
            background-color: #393939;
            display: block;
        }
        span{
            color: #e88d76;
            font-weight: 600;
        }
    }
    .text {
        font-size: 1.2em;
        text-align: center;
        max-width: 900px;
        margin: 0 auto 20px;
        display: block;
        line-height: 1.6em;
        font-family: "Rubik","Poppins", "sans-serif";
    }
    ul{
        margin: 20px 0;
        li, .selected{
            padding: 10px;
            background-color: #438ce0;
            border-radius: 2px;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin: 0 10px;
            font-family: "Rubik", "Poppins", "sans-serif";
            font-size: 20px;
            color: #fff;
            cursor: pointer;
            outline: none;
        }
        li{
            background-color: #23324a7d;
        }
    }
    .pro-v{
        display: block;
        text-align: center;
        img{
            width: 78%;
            height:  78%;
            object-fit: cover
        }
        p{
            font-size: 1.2em;
            text-align: center;
            max-width: 900px;
            margin: 20px auto;
            display: block;
            line-height: 1.6em;
            font-family: "Rubik","Poppins", "sans-serif";
            
        }
    }
    .projecto-1{
       
        display: none;
    }
    .img{
        width: 1240px;
        display: block;
        margin: 0 auto;
        img{
            width: 260px;
            height: 470px;
            margin-left: 10px;
            margin-right: 10px;
            object-fit: cover;
            outline: none;
        }
    }

      .rec-arrow-left,
      .rec-arrow-right{
        background-color: #438ce0 !important;
        width: 30px !important;
        min-width: 30px !important;
        height: 30px !important;
        font-size: 18px;
        border-radius: 2px !important;
        z-index: 1000;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border:none !important;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
        &:hover{
            background-color: #4099ff !important;
           
          }
      }
      .rec-arrow-left{
       left: 0;
      }
      .rec-arrow-right{
       right: 0;
      }
      .rec-dot_active{
        background-color: rgba(67, 140, 224,.5) !important;
        box-shadow: 0 0 1px 3px rgb(67, 140, 224) !important;
        &:focus{
            background-color: rgba(67, 140, 224,.5) !important;
            box-shadow: 0 0 1px 3px rgb(67, 140, 224) !important;
        }
      }
}
.quote{
    padding: 40px 0 !important;
    width: 100%;

    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
    background: #434be0;
    background: linear-gradient(77deg, #434be0 25%, #4572cb 75%);
    p{
        text-align: center;
        color: #fff;
        display: block;
        font-size: 20px;
        margin-top:20px;
        letter-spacing: 1px;
        .quot-{
            height: 50px;
            width: 50px;
            background-color: #fff;
            border-radius: 50%;;
            display: flex;
            margin: 0 auto 20px;
            color: #424242;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            border: 7px solid #6dacf5;
            
        }
        
    }
    .autor{
        font-family: "Rubik","Poppins";
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
        margin-top: 30px;
    }
}

.faq{
    padding: 100px 0 !important;
    h1 {
        text-align: center;
        color: #393939;
        font-size: 2.4rem;
        line-height: 1.375;
        letter-spacing: -0.1rem;
        margin: 40px 0 40px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: -180%;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 80px;
            background-color: #393939;
            display: block;
        }
        span{
            color: #e88d76;
            font-weight: 600;
        }
    }
    h2{
        font-size: 20px;
        font-weight: 500;
        font-family: "Rubik","Poppins","Sans-serif";
        margin-bottom: 20px;
        color: #484848;
    }
    p{
        letter-spacing: .3px;
        line-height: 1.5;
        color: #424242;
        span{
            background-color: #dce9ff;
            padding: 4px 8px;
            border-radius: 8px;
            font-weight: 500;
            font-size: 14px;
            color: #3f506d;
        }
    }
    .faq-1{
        margin-bottom: 20px;
        margin-top: 0;
    }
    .grid-1-3{
        padding: 15px;
        
    }
    .first{
        margin-top: 0;
    }
}
.duvidas{
    background-color: #f5f8fd;
    padding: 70px 0;
    .grid-4{
        height: 300px;
        background-color: #438ce0;
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding: 20px;
        text-align: center;
        color: #fff;
        span{
            font-size: 32px;
            color: #18181880;
        }
       
        h1{
            font-size: 20px;
            font-weight: 500;
        }
        p{
            font-size: 16px;
            line-height: 1.5em;
        }
    }
}
.pagamento{
    padding: 100px 0 40px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
    background: #434be0;
    background: linear-gradient(77deg, #434be0 25%, #4572cb 75%);
    .grid-1-3{
        height: 450px;
        display: flex;
        flex-direction: column;
        .grid-en-1,.grid-en-2{
            box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
            background-color: #f5f8fd;
            border-radius: 10px;
            padding: 25px 25px;
        }
        .grid-en-1{
            flex:1;
            margin-bottom:20px;
            span{
                margin-bottom: 10px;
                display: block;
                font-size: 16px;
                color: #3f506d;
                font-weight: 500;
                letter-spacing: .5px;
            }
            .loca{
                background-color: #dce9ff;
                border-radius: 16px;
                margin-bottom: 30px;
                display: flex;
                align-items: center;
                padding: 10px 20px ;
                flex-direction: column;
                .loca-text{
                    color: #3f506d;
                    font-size: 30px;
                    margin-bottom: 4px;
                    font-weight: 500;
                }
                .ende{
                    font-size: 12px;
                    color: #3f506d;
                    letter-spacing: .2px;
                }
            }
            .data{
                display: flex;
                justify-content: space-between;
                align-items: center;
                h3{
                    font-size: 16px;
                    text-align: center;
                    margin: 0 10px;
                    font-weight: 400;
                    /* background-color: #c4ffdd;
                    color: #0EC573; */
                    /* padding: 10px;
                    border-radius: 12px; */
                }
                p{
                    font-size: 14px;
                    font-weight: 500;
                    background-color: #dce9ff;
                    border-radius: 12px;
                    color: #3f506d;
                    padding: 15px 10px 10px;
                    position: relative;
                    font-family: "Poppins";
                    &::before{
                        content: "Ínicio";
                        display: block;
                        color: red;
                        position: absolute;
                        top: -20px;
                        font-size: 16px;
                        font-weight: 400;
                        letter-spacing: .5px;
                        background-color: #438ce0;
                        border-radius: 12px;
                        box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
                        color: #f5f8fd;
                        padding: 6px 15px;
                    }
                    &:nth-last-child(1){
                        &::before{
                            content: "Fim";
                            display: block;
                        }
                    }

                }
            }
        }
        .grid-en-2{
            .cont{
                flex:1;
                /* margin-top: 10px; */
                display: flex;
                div{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;
                    margin-right: 10px;
                    justify-content: center;
                    align-items: center;
                    background-color: #dce9ff;
                    padding: 12px;
                    border-radius: 12px;
                    &:nth-last-of-type(1){
                        margin-right: 0;
                    }
                    &:nth-last-of-type(4){
                        margin-left: 0;
                    }
                    span{
                        font-size: 25px;
                        font-weight: 600;
                        margin-bottom: 3px;
                        color: #3f506d;
                    }
                    p{
                        font-size: 15px;
                        color: #3f506d;
                    }
                }
            }
            h3{
                margin-top: 20px;
                color: #3f506d;
                font-size: 14px;
                font-weight: 500;
                background-color: #dce9ff;
                border-radius: 12px;
                padding: 10px;
                text-align: center;
            }
            h4{
                margin-bottom: 10px;
                display: block;
                font-size: 16px;
                color: #3f506d;
                font-weight: 500;
                letter-spacing: .5px;
            }
        }
        
    }
   
    .prestacao,.pag{
        box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
        background-color: #f5f8fd;
        border-radius: 10px;
        padding:30px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;;
        .invest{
            font-size: 16px;
            color: #3f506d;
            font-weight: 500;
        }
        h1{
            font-size: 40px;
            color: #3f506d;
            font-weight: 500;
            margin: 2px 0 20px;
            font-family: "Poppins", sans-serif;
            span{
                font-size: 15px;
                margin-left: 20px;
            }
        }
        h3{
            font-size: 16px;
            color: #3f506d;
            font-weight: 400;
            margin-bottom: 20px;
        }
        .primeira-p{
            height: 80px;
            width: 100%;
            background-color: #5ebc7f;
            border-radius: 15px;
            display: flex;
            padding: 15px;
            
            &:nth-last-child(1){
                margin-top: 30px;
            }
            .icon{
                width: 50px;
               /*  height: 100%; */
                background-color: #f5f8fd;
                box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
                border-radius: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                span{
                    color: #3f506d;
                    font-size: 25px !important;
                }
            }
            .texto{
                display: flex;
                flex-direction: column;
                padding: 0 20px;
                justify-content:  center;
                flex: 1;
                h1{
                    margin-bottom: 3px;
                    font-family: "Rubik","Poppins","sans-serif";
                    font-size: 18px;
                    font-weight: 500;
                    color: #3f506d;
                }
                h2{
                    margin-top: 3px;
                    color:#fafafac2;
                    font-size: 16px;
                    font-family: "Rubik","Poppins","sans-serif";
                }
            }
            .valor{
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-size: 18px;
                    font-weight: 500;
                    color: #f5f8fd;
                    padding: 6px;
                    background-color: #3f506d;
                    border-radius: 8px;
                    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
                }
            }
        }
        .segunda-p{
            background-color: #ff8465;
            
            .texto{
                h1{
                    color: #fafafae6;
                }
                h2{
                    color:#ebebeb;
                }
            }
        }
    }
    .pag{
        h2{
            color: #3f506d;
            font-weight: 500;
        }
        ul{
            li{
                margin: 16px 0;
                letter-spacing: .2px;
                &::before {
                    content: "";
                    height: 12px !important;
                    width: 12px !important;
                    background: #434be0;
                    background: linear-gradient(77deg, #434be0 25%, #4572cb 75%);
                    display: inline-block;
                    color: #3f506d;

                    margin-right: 10px;
                    border-radius: 50%;
                    border: 2px solid #f5f8fd;
                    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
                }
            }
        }
        div{
            span{
                color: #438ce0;
                font-weight: 500;
                margin-left: 16px;
                cursor: pointer
            }
        }
    }
}

.termos-p{
    padding: 160px 0 60px !important;
    max-width: 900px;
    h1{
        font-size: 26px;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    ul{
        li{
            margin: 10px 40px;
            font-size: 16px;
            &::before{
                content: "🌟";
                display: inline-block;
            }
        }
    }
}

.termos-p p{
    margin: 15px 0;
    font-size: 16px;
    line-height: 1.3
}
.termos-p p span{
    font-weight: 600;
    font-size: 18px;
}
.termos-p .lista{
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0;
}
.termos-p .lista-p{
    font-size: 18px;
    font-weight: 500;
    margin: 30px 0 30px 20px;
}

.notfound{
    .container{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            width: 350px;
            margin-bottom: 60px;
        }
        .not{
            display: flex;
            align-items: center;
            .ico{
                font-size: 200px;
                height: 200px;
                width: 200px;;  
                color: #ff5a5adb;
                border: 12px solid #ff5a5a;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                &::before{
                    content: "";
                    height: 230px !important;
                    width: 230px !important;
                    border-radius: 50%;
                    position: absolute;
                    display: block;
                    border:12px solid #fc8f92
                    ;
                }
                &::after{
                    content: "";
                    height: 210px !important;
                    width: 210px !important;
                    border-radius: 50%;
                    position: absolute;
                    display: block;
                    border:12px solid #fe7071c4
                    ;
                }
            }

            .h1{
                h2{
                    font-size: 26px;
                    font-weight: 500;
                    text-transform: uppercase;
                    margin-bottom: -10px;
                    text-align: center;
                }
                h1{
                    margin-left: 30px;
                    font-size: 220px;
                    font-weight: 500
                }
                p{
                    margin-top: -20px;
                    margin-left: 30px;
                    font-size: 18px;
                    line-height: 1.4em;
                }
            }
        }

        .link{
            margin-bottom: 0 !important;
            width: 250px;
            padding: 12px;
            cursor: pointer;
            background-color: #438CE0;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
            border-radius: 4px;
            color: #fefefe;
            font-size: 22px;
            font-weight: 400;
            letter-spacing: 1px;
            border: none;
            outline: none;
            text-align: center;
            margin-top: 30px;
            text-transform: uppercase;
            &:hover {
                background-color: #5da2f1;
            }
        }
        .redes{
            margin-top: 80px;
            li{
                display: inline-block;
                height: 50px;
                width: 50px;
                background-color: #438CE0;
                border-radius: 50%;
                position: relative;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin: 0 10px;
                border: 4px solid #b5d3f3;
                transition: all .5s ease;
                a{
                    font-size: 23px;
                    color: #fff;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &:hover{
                    transition: all .5s ease;
                    background-color:  #b5d3f3;
                }
                &:hover a{
                    transition: all .5s ease;
                    color: #3f506d
                }
            }
        }
       
        
    }
}
@import 'responsivo_curso';