@import 'normalize';
@import 'reset';
@import 'grid';
@import 'Header';
@import 'home';
@import 'sobre';
@import 'footer';
.btn-branco,
.btn-azul {
    padding: 10px 20px;
    background-color: #fff;
    font-size: 18px;
    border: none;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    color: #555;
    cursor: pointer;
    transition: all 1s;
    border-radius: 2px;
    outline: none;

    &:hover {
        background-color: #d8e7fc;
    }
}
.btn-azul {
    background-color: #438ce0;
    color: #fff;
    font-family: "Rubik", "Poppins";
    font-weight: 300;
    &:hover {
        background-color: #5da2f1;
    }
}
.carousel {
    height: 100vh !important;

    @keyframes pulse-border {
        0% {
            transform: translate(-50%, -50%, 0) scale(1);
            opacity: 1;
        }
        100% {
            transform: translateX(-50%) translateY(-50%) translateZ(0)
                scale(1.5);
            opacity: 0;
        }
    }
    .carousel-1,.carousel-2,.carousel-3, .carousel-c{
        height: 100vh;
        /* display: flex;
            align-items: center;
            justify-content: center; */
        .part {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            .mov {
                height: 400px;
                h1 {
                    font-size: 3.4rem;
                    margin-bottom: 50px;
                    color: #fff;
                    text-align: left;
                    span {
                        color: #e88d76;
                        font-weight: 600;
                    }
                }
                .bot {
                    display: flex;
                    align-items: center;
                    .sbr {
                        font-size: 1rem;
                    }
                    .play {
                        border-radius: 50% !important;
                        padding: 0 !important;
                        position: relative;
                        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                        margin-left: 40px;
                        display: inline-block;
                        height: 40px;
                        width: 40px;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 55%;
                            transform: translate(-50%, -50%);
                            border-style: solid;
                            border-width: 8px 0 8px 10px;
                            font-size: 1.4rem;
                            border-color: transparent transparent
                                transparent #fff;
                            z-index: 1;
                        }
                        &::after {
                            content: "";
                            height: 38px;
                            width: 38px;
                            background-color: #4099ff;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            animation: pulse-border 1500ms ease-out infinite;
                            transform: translateX(-50%) translateY(-50%);
                        }
                    }
                    .playsobre{
                        border-radius: 50% !important;
                        padding: 0 !important;
                        position: relative;
                        border: 1.5px solid #438ce0;
                        outline: none;
                        cursor: pointer;
                        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                        margin-left: 40px;
                        display: inline-block;
                        height: 40px;
                        width: 40px;
                        background-color: transparent;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 55%;
                            transform: translate(-50%, -50%);
                            border-style: solid;
                            border-width: 8px 0 8px 10px;
                            font-size: 1.4rem;
                            border-color: transparent transparent
                                transparent #fff;
                            z-index: 1;
                        }
                        &::after {
                            content: "";
                            height: 38px;
                            width: 38px;
                            background-color: #4099ff;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            animation: pulse-border 1500ms ease-out infinite;
                            transform: translateX(-50%) translateY(-50%);
                        }
                    }
                    .vid {
                        color: #fff;
                        margin-left: 15px;
                        font-size: 14px;
                    }
                }

                a {
                    position: relative;
                    color: #fff;
                    padding: 8px;
                    border-radius: 10px;
                    border: 2px solid #438ce0;
                    display: table;
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                    &:hover {
                        background-color: #5a95d8;
                    }
                }
            }
        }
    }
    .carousel-1 {
        background: linear-gradient(
                rgba(24, 24, 24, 0.3),
                rgba(24, 24, 24, 0.5)
            ),
            url("../../img/luz.jpg") center center no-repeat;
            background-size: cover;
           
    }
    .carousel-2 {
        background: linear-gradient(
                rgba(24, 24, 24, 0.3),
                rgba(24, 24, 24, 0.5)
            ),
            url("../../img/new-era.jpg") center center no-repeat;
            background-size: cover;
    }
    .carousel-3 {
        background: linear-gradient(
                rgba(24, 24, 24, 0.3),
                rgba(24, 24, 24, 0.5)
            ),
            url("../../img/code.jpg") center center no-repeat;
            background-size: cover;
    }
   .dot{
        height: 2px !important;
        width: 28px !important;
        border-radius: 4px !important;
        transition: all .5s ease !important;
        margin: 5px 0 !important;
        outline: none !important;
        box-shadow: none !important;
        background: #fff !important;
        opacity: .6 !important;
        &.selected{
            background-color: #e88d76 !important;
            transform: scale(1.3);
            opacity: 1 !important;
        }
    }
    .control-dots {
        right: 10px !important;
        height: 100vh !important;
        display: flex !important;
        align-items: center !important;
        flex-direction: column !important;
        justify-content: center !important;
        width: 40px !important;
    } 



}

.modal-video{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.4);
    z-index: 900000;
    display: flex;
    justify-content: center;
    align-items: center;
    .corpo-modal{
        height: 80%;
        width: 60%;
        background-color: #fff;
        border-radius: 6px;
        box-shadow: rgba(46, 61, 73, 0.2) 0px 1px 20px 0px !important;
        position: relative;
        span{
            position: absolute;
            right: -15px;
            top: -10px;
            font-family: "Poppins";
            font-weight: 600;
            font-size: 20px;
            transform: rotate(45deg);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            cursor: pointer;
            color: #fff;
            background-color: #ce4949;
            border-radius: 50%;
            box-shadow: rgba(46, 61, 73, 0.2) 0px 1px 20px 0px !important;
            &:hover{
                background-color: #ca5f5f;
            }
        }
    }
}


// CURSO REACT-NATIVE
.carousel-c {
    background: linear-gradient(
            rgba(24, 24, 24, 0.5),
            rgba(24, 24, 24, 0.5)
        ),
        url("../../img/img-curso/prog.jpg") center center no-repeat;
        background-size: cover;

        
       
}
.inscrever{
    background-color: #f5f8fd;
    padding: 120px 0 0;
    position: relative;

}

.container-form-l{
    height: auto !important;
    padding: 120px 0;
    display: block !important;
    .titulo{
        text-align: center;
        color: #393939;
        font-size: 2.4rem;
        line-height: 1.375;
        margin-bottom: 10px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top:-180%;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 80px;
            background-color: #393939;
            display: block;
        }
        .agora{
            color: #e88d76;
            font-weight: 600;
        }
        .vaga{
            position: absolute;
            top:-18px;
            right:0;
            padding: 4px 10px;
            background-color: #438ce0;
            border-radius: 2px;
            font-size: 12px;
            color: #fff;
            
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
        }
    }
    .obs{
        font-size: 14px;
        font-weight: 400;
        line-height: 1.475;
        span{
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
    .log-l{
        height: auto !important;
        width: 100% !important;
        margin-top: 20px;

        form{
            .flex-l{
                display: flex;
                .flex-d{
                    &:nth-of-type(1){
                        margin-right: 20px;
                    }
                    input{
                        margin-bottom: 10px !important;
                    }
                }
            }
            .termos-p{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 30px;
                span{
                    a{
                        display: inline-block;
                        font-size: 10px !important;
                        font-weight: 400 !important;

                    }
                }
            }
            

            
        }
    }
}
.pre-p{
    height: 500px;
    width: 100%;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0,.2);
    padding:50px 0;
    background: rgb(67,75,224);
    background: linear-gradient(77deg, rgba(67,75,224,1) 25%, rgba(69,114,203,1) 75%);
    overflow: hidden;
    .texto-p{
        .preparado{
            color: #fff;
            padding: 10px;
            background-color: #e88d76;
            border-radius: 2px;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0,.2);
        }
        h2{
            font-size: 33px;
            font-weight: 500;
            color: #f5f8fd;
            margin: 30px 0;

        }

        ul{
            margin-bottom: 50px;
            li{
                margin: 20px 0;
                color: #fff;
                font-size: 18px;
                font-weight: 300;
                font-family: "Rubik","Poppins";
                display: flex;
                align-items: center;

                &::before{
                    content: "";
                    height: 15px;
                    width: 15px;
                    background-color: #e88d76;
                    margin-right: 10px;
                    border-radius: 50%;
                    border:2px solid #f5f8fd;
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0,.2);
                    
                }


            }
        }
    }
    .texto-i{
        
        img{
            width: 100%;
            height: 100%;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0,.2);
        }
    }
}

.modulos{
    height: 100%;
    width: 100%;
    background-color: #f5f8fd;
    padding: 100px 0 0;
    h1{
        text-align: center;
        color: #393939;
        font-size: 2.4rem;
        line-height: 1.375;
        letter-spacing: -0.1rem;
        margin: 40px 0 30px;
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: -180%;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 80px;
            background-color: #393939;
            display: block;
            
        
        }
        span{
            color: #e88d76;
            font-weight: 600;
        }
    }
    .text{
        font-size: 1.2em;
        text-align: center;
        max-width: 900px;
        margin: 0 auto 40px;
        display: block;
        line-height: 1.6em;
        font-family: "Rubik","Poppins", "sans-serif";
        span{
            font-weight:700;
            font-size: 1.05em;
            color: #000;
        }
    }

    .grid-8{
        margin-bottom: 50px;
    }

    .grid-4{
        height: 300px;
        margin-top: 20px;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .prese{
        height: 100px;
        width: 100%;
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0,.2);
        background: rgb(67,75,224);
        background: linear-gradient(77deg, rgba(67,75,224,1) 25%, rgba(69,114,203,1) 75%);
        margin-top: 50px;
        .container{
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .text-1{
            width: 100%;
            font-family: "Rubik";
            text-align: center;
            color: #fff;
            font-size: 24px
        }
    }

}  

.projectos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0 !important;
    h1{
        text-align: center;
        color: #393939;
        font-size: 2.4rem;
        line-height: 1.375;
        letter-spacing: -0.1rem;
        margin: 40px 0 20px;
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: -200%;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 80px;
            background-color: #393939;
            display: block;
        }
        span{
            color: #e88d76;
            font-weight: 600;
        }
    }
    .text {
        font-size: 1.2em;
        text-align: center;
        max-width: 900px;
        margin: 0 auto 20px;
        display: block;
        line-height: 1.6em;
        font-family: "Rubik","Poppins", "sans-serif";
    }
    ul{
        margin: 20px 0;
        li, .selected{
            padding: 10px;
            background-color: #438ce0;
            border-radius: 2px;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin: 0 10px;
            font-family: "Rubik", "Poppins", "sans-serif";
            font-size: 20px;
            color: #fff;
            cursor: pointer;
            outline: none;
        }
        li{
            background-color: #23324a7d;
        }
    }
    .pro-v{
        display: block;
        text-align: center;
        img{
            width: 75%;
            height:  75%;
            object-fit: cover
        }
        p{
            font-size: 1.2em;
            text-align: center;
            max-width: 900px;
            margin: 20px auto;
            display: block;
            line-height: 1.6em;
            font-family: "Rubik","Poppins", "sans-serif";
            
        }
    }
    .projecto-1{
       
        display: none;
    }
    
}
.quote{
    padding: 40px 0 !important;
    width: 100%;

    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
    background: #434be0;
    background: linear-gradient(77deg, #434be0 25%, #4572cb 75%);
    p{
        text-align: center;
        color: #fff;
        font-size: 20px;
        margin-top:20px;
        letter-spacing: 1px;
    }
    .autor{
        font-family: "Poppins";
        font-weight: 500;
        font-style: italic;
    }
}

.faq{
    padding: 100px 0 !important;
    .faq-1{
        margin-bottom: 20px;
    }
    .grid-1-3{
        height: 400px;
        background-color: red;
    }
}
@import 'responsivo_curso';