.home-{
    height: 700px;
    background: linear-gradient(
                rgba(24, 24, 24, 0.623),
                rgba(24, 24, 24, 0.815)
            ),
            url("../../img/code.jpg") center center no-repeat;
            background-size: cover;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;


    .texto{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            font-size: 3em;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 30px;
            &::after{
                content: "";
                display: block;
                height: 3px;
                width: 60px;
                background: rgb(255,126,93);
                background: radial-gradient(circle, rgba(255,126,93,1) 0%, rgba(231,107,75,1) 35%);
                border-radius: 50px;
            }
        }
        p{
            font-size: 1.2em;
            font-weight: 300;
            margin: 10px auto 6px auto;
            max-width: 600px;
            color: #fff;
            text-align: center;
        }
        .link-c{
            padding: 10px;
            display: block;
            margin: 30px 0;
            cursor: pointer;
            font-size: 0.9em;
            border-radius: 4px;
            color: #fefefe;
            font-weight: 400;
            letter-spacing: 1px;
            border: 2px solid #438CE0;
            outline: none;
            text-align: center;
            text-transform: uppercase;
            transition: all .5s ease;
            &:hover{
                background-color: #438CE0;
            }
        }
    }
    
}

.curs{
    margin-top: 20px !important;
}
.template{
    overflow: hidden;
    box-shadow: rgba(46, 61 ,73, 0.2) 0px 1px 20px 0px;
    box-sizing: border-box;
    border-radius: 6px;
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .texto{
        padding: 30px;
        text-align: center;
        span{
            text-transform: uppercase;
            font-size: 16px;
            text-align: center;
            display: block;
            color: #1818189e;
            margin-bottom: 30px;
        }
        .modulos-curso{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            span{
                font-weight: 500;
            }
        }
        p{
            font-weight: 300;
            color: #1818189e;
            letter-spacing: .4px;
            line-height: 1.3;
        }
        h1{
            font-size: 24px;
            font-weight: 500;
            text-align: center;
            margin: 0 0 20px;
            font-family: "Poppins,Rubik";
        }
    }
    .botao{
        width: 90%;
        padding: 0 30px 30px;
        margin: 0 auto;
        display: block;
        a,.brevemente{
            margin-bottom: 0 !important;
            display: block;
            padding: 18px;
            cursor: pointer;
            background-color: #438CE0;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
            border-radius: 4px;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 400;
            letter-spacing: 1px;
            border: none;
            outline: none;
            text-align: center;
            color: #fefefe;
            &:hover{
                background-color: #4e99e9;
            }
        }
        .brevemente{
            background-color: #18181880;
            &:hover{
                background-color: #18181880;
            }
        }
    }
    background-color: #fff;
    background-image: url("../../img/background.svg");
        background-repeat: no-repeat;
        background-position: center;
}