.home-{
    height: 700px;
    background: linear-gradient(
                rgba(24, 24, 24, 0.623),
                rgba(24, 24, 24, 0.815)
            ),
            url("../../img/code.jpg") center center no-repeat;
            background-size: cover;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;


    .texto{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            font-size: 3em;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 30px;
            &::after{
                content: "";
                display: block;
                height: 3px;
                width: 60px;
                background: rgb(255,126,93);
                background: radial-gradient(circle, rgba(255,126,93,1) 0%, rgba(231,107,75,1) 35%);
                border-radius: 50px;
            }
        }
        p{
            font-size: 1.2em;
            font-weight: 300;
            margin: 10px auto 6px auto;
            max-width: 600px;
            color: #fff;
            text-align: center;
        }
        .link-c{
            padding: 10px;
            display: block;
            margin: 30px 0;
            cursor: pointer;
            font-size: 0.9em;
            border-radius: 4px;
            color: #fefefe;
            font-weight: 400;
            letter-spacing: 1px;
            border: 2px solid #438CE0;
            outline: none;
            text-align: center;
            text-transform: uppercase;
            transition: all .5s ease;
            &:hover{
                background-color: #438CE0;
            }
        }
    }
    
}

.curs-4{
    margin-top: 100px;
}
.curso-m,.cursos-mek{
    padding: 100px 0;
    .nossos{
            text-align: center;
            color: #393939;
            font-size: 2.4rem;
            line-height: 1.375;
            letter-spacing: -0.1rem;
            &::before{
                content: "";
                display: block;
                background-color: #393939;
                height: 60px;
                width: 2px;
                border-radius: 20%;
                margin: 0 auto;
            }
            span{
                color: #e88d76;
                font-weight: 600;
            }
    }
    .text-c{
        max-width: 800px;
        text-align: center;
        display: block;
        margin: 40px auto;
        font-size: 1.3em;
        line-height: 1.3;
    }
    .curs{
        margin-top: 20px !important;
        .template{
            overflow: hidden;
            box-shadow: rgba(46, 61 ,73, 0.2) 0px 1px 20px 0px;
            box-sizing: border-box;
            border-radius: 6px;
            background-color: #fff;
            background-image: url("../../img/background.svg");
                background-repeat: no-repeat;
                background-position: center;
            h3{
                background-color: #dce9ff;
                padding: 4px 8px;
                border-radius: 8px;
                font-weight: 500;
                font-size: 14px;
                color: #3f506d;
                display: inline-block;
            }
            img{
                width: 100%;
                height: 300px;
                object-fit: cover;
            }
            .texto{
                padding: 30px;
                text-align: center;
                span{
                    text-transform: uppercase;
                    font-size: 16px;
                    text-align: center;
                    display: block;
                    color: #1818189e;
                    margin-bottom: 30px;
                }
                .modulos-curso{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 20px;
                    span{
                        font-weight: 500;
                    }
                }
                p{
                    font-weight: 300;
                    color: #1818189e;
                    letter-spacing: .4px;
                    line-height: 1.3;
                }
                h1{
                    font-size: 24px;
                    font-weight: 500 !important; 
                    text-align: center;
                    margin: 0 0 20px;
                    font-family: "Poppins","Rubik" !important;
                }
            }
            .botao{
                width: 90%;
                padding: 0 30px 30px;
                margin: 0 auto;
                display: block;
                a,.brevemente{
                    margin-bottom: 0 !important;
                    display: block;
                    padding: 18px;
                    cursor: pointer;
                    background-color: #438CE0;
                    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
                    border-radius: 4px;
                    text-transform: uppercase;
                    font-size: 20px;
                    font-weight: 400;
                    letter-spacing: 1px;
                    border: none;
                    outline: none;
                    text-align: center;
                    color: #fefefe;
                    &:hover{
                        background-color: #4e99e9;
                    }
                }
                .brevemente{
                    background-color: #18181880;
                    cursor: default;
                    &:hover{
                        background-color: #18181880;
                    }
                }
            }
            &:nth-child(1){
                img{
                    background-color: #38415E;
                }
            }
            &:nth-child(2){
                img{
                    background: #000
                }
            }
            &:nth-child(3){
                img{
                    background:linear-gradient(#778FDF,#495B90);
                }
            }
            
        }
    }
    .cu-t{
        .template{
            &:nth-child(1){
                img{
                    background-color: #181818e3;
                }
            }
            
            &:nth-child(2){
                img{
                    background: #000;
                }
            }
            &:nth-child(3){
                img{
                    background: #4C9734 !important;
                }
            }
            
        }
    }
}

.gird-curso{
    height: 300px;
    background-color: #438ce0;
}

.cert{
    .nav{
        li{
            a{
                color: #555 !important;
            }
        }
}

.certificados{
    height: 100vh;
    width: 100%;
    background-color: #f5f8fd ;
    display: flex;
    align-items: center;
    justify-content: center;
    
    div{
        width: 32%;
        .award{
            font-size: 150px;
            display: block;
            margin: 0 auto;
            color: #438ce0;
            margin-bottom: 20px;
        }
        h1{
            font-size: 40px;
            font-weight: 400;
            text-align: center;
            color: #3f506d;
            
        }
        p{
            margin: 25px 0 70px;
            text-align: center;
            color: #3f506d;
        }
        .Container{
            width: 100%;
            margin: 0 auto;
                .input{
                    width: 100%;
                    padding: 20px 10px;
                    margin-bottom: 35px !important;
                    font-size: 14px !important;
                    font-weight: 300 !important;
                }
        }
    }
}
}
@media only screen and (max-width: 757px) {
    .curso-m,.cursos-mek{
        padding: 100px 0;
        .nossos{
                text-align: center;
                color: #393939;
                font-size: 2.4rem;
                line-height: 1.375;
                letter-spacing: -0.1rem;
                &::before{
                    content: "";
                    display: block;
                    background-color: #393939;
                    height: 60px;
                    width: 2px;
                    border-radius: 20%;
                    margin: 0 auto;
                }
                span{
                    color: #e88d76;
                    font-weight: 600;
                }
        }
        .text-c{
            max-width: 300px;
            text-align: center;
            display: block;
            margin: 40px auto;
            font-size: 1.3em;
            line-height: 1.3;
        }
        .curs{
            margin-top: 20px !important;
            .template{
                overflow: hidden;
                box-shadow: rgba(46, 61 ,73, 0.2) 0px 1px 20px 0px;
                box-sizing: border-box;
                border-radius: 6px;
                background-color: #fff;
                background-image: url("../../img/background.svg");
                    background-repeat: no-repeat;
                    background-position: center;
                h3{
                    background-color: #dce9ff;
                    padding: 4px 8px;
                    border-radius: 8px;
                    font-weight: 500;
                    font-size: 14px;
                    color: #3f506d;
                    display: inline-block;
                }
                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
                .texto{
                    padding: 30px;
                    text-align: center;
                    span{
                        text-transform: uppercase;
                        font-size: 16px;
                        text-align: center;
                        display: block;
                        color: #1818189e;
                        margin-bottom: 30px;
                    }
                    .modulos-curso{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-top: 20px;
                        span{
                            font-weight: 500;
                        }
                    }
                    p{
                        font-weight: 300;
                        color: #1818189e;
                        letter-spacing: .4px;
                        line-height: 1.3;
                    }
                    h1{
                        font-size: 24px;
                        font-weight: 500 !important; 
                        text-align: center;
                        margin: 0 0 20px;
                        font-family: "Poppins","Rubik" !important;
                    }
                }
                .botao{
                    width: 90%;
                    padding: 0 30px 30px;
                    margin: 0 auto;
                    display: block;
                    a,.brevemente{
                        margin-bottom: 0 !important;
                        display: block;
                        padding: 18px;
                        cursor: pointer;
                        background-color: #438CE0;
                        box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
                        border-radius: 4px;
                        text-transform: uppercase;
                        font-size: 20px;
                        font-weight: 400;
                        letter-spacing: 1px;
                        border: none;
                        outline: none;
                        text-align: center;
                        color: #fefefe;
                        &:hover{
                            background-color: #4e99e9;
                        }
                    }
                    .brevemente{
                        background-color: #18181880;
                        cursor: default;
                        &:hover{
                            background-color: #18181880;
                        }
                    }
                }
                &:nth-child(1){
                    img{
                        background-color: #38415E;
                    }
                }
                &:nth-child(2){
                    img{
                        background: #000
                    }
                }
                &:nth-child(3){
                    img{
                        background:linear-gradient(#778FDF,#495B90);
                    }
                }
                
            }
        }
        .cu-t{
            .template{
                &:nth-child(1){
                    img{
                        background-color: #181818e3;
                    }
                }
                
                &:nth-child(2){
                    img{
                        background: #000;
                    }
                }
                &:nth-child(3){
                    img{
                        background: #4C9734 !important;
                    }
                }
                
            }
        }
    }
}