
.content{
  padding: 50px;
  background-color: #f3f7fc;
  .conteudo {
    background-color: #f3f7fc;
    width: 100%;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: rgba(46, 61, 73, 0.2) 0px 1px 20px 0px;
    .meuscursos {
      width: 100%;
      .h1 {
        .icon {
          margin-right: 20px;
          font-size: 20px;
          color: #f5f8fd;
        }
        display: flex;
        align-items: center;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        color: #f5f8fd;
        height: 60px;
        width: 100%;
        /* background-color: #306aacc7; */
        background-color: #306aacc7;
        padding: 0 20px;
      }
      .cursos-container {
        padding: 20px 40px;
        .cursos {
          padding: 80px 40px;
          display: inline-block;
          .curso {
            width: 350px;
            background-color: #fff;
            border-radius: 25px;
            /* box-shadow: rgba(46, 61, 73, 0.2) 0px 1px 20px 0px; */
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.125),
            0 1px 3px rgba(0, 0, 0, 0.2);
            border-top: 10px solid #306aacc7;
            position: relative;
            overflow: hidden;
            .aulas {
              display: flex;
              /* padding: 0 10px 15px; */
              position: absolute;
              top: 160px;
              z-index: 3;
              width: 100%;
              background-color: #306aac70;
              align-items: center;
              justify-content: center;
              padding: 5px 0;
              box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
              .numero-aulas,
              .modulos,
              .horas {
                font-size: 12px;
                font-weight: 500;
                font-family: "Poppins", sans-serif;
                flex: 1;
                text-align: center;
                color: #fff;
                
                &::before {
                  content: "\2714";
                  display: inline-block;
                  color: #0eff23;
                  margin-right: 5px;
                  font-size: 16px;
              }
                
              }
              .modulos {
                span {
                  color: #fff;
                  cursor: pointer;
                }
              }
            }
            .img{
              overflow: hidden;
              width: 100%;
              height: 200px;
              box-shadow: rgba(46, 61, 73, 0.2) 0px 1px 20px 0px;
              position: relative;
              
              img {
                width: 100%;
                height: 200px;
                object-fit: cover;
              }
              div{
                position: absolute;
                width: 100%;
                height: 200px;
                background: linear-gradient(rgba(24, 24, 24, 0.1), rgba(24, 24, 24, 0.2));
                top: 0;
                z-index: 1;
              }
            }
           
            .activo {
              padding: 4px 10px;
              background-color: green;
              border-radius: 3px;
              box-shadow: 0 0 1px rgba(0, 0, 0, 0.125),
              0 1px 3px rgba(0, 0, 0, 0.2);
              position: absolute;
              top: 20px;
              left: 10px;
              z-index: 2;
              h1 {
                color: #fff;
                font-size: 12px;
                letter-spacing: 1px;
                font-weight: 600;
              }
            }
            .favorito {
              position: absolute;
              right: 0;
              top: 20px;
              right: 20px;
              z-index: 2;
              cursor: pointer;
              .fa-heart {
                color: #ffbb00;
                font-size: 25px;
                &:hover{
                  color: #d3ae48;
                }
              }
            }
            
           
            .footer {
              height: 70px;
              width: 100%;
              /* position: absolute;
              bottom: 0; */
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #306aacc7;
              border-bottom-left-radius: 25px;
              border-bottom-right-radius: 25px;
              transition: all 0.3s ease;
              &:hover {
                background-color: #6793c2;
              }
              a {
                font-size: 25px;
                color: #fff;
                font-family: "Poppins", sans-serif;
                text-decoration: none;
                font-weight: 700;
                width: 100%;
                text-align: center;
              }
            }
            
            .dados-curso {
              h1 {
                font-size: 23px;
                color: #313135cc;;
                font-family: "Poppins", sans-serif;
                text-align: center;
                padding: 20px 30px 5px;
                font-weight: 600;
              }
              
              p {
                font-size: 14px;
                font-weight: 400;
                font-family: "Poppins", sans-serif;
                flex: 1;
                padding: 10px;
                line-height: 1.55;
                letter-spacing: .03rem;
                color: #313135;
              }
            }
            .percentagem {
              display: flex;
              justify-content: space-between;
              padding: 0 10px;
              align-items: center;
              margin-bottom: 30px;
              .perc {
                display: block;
                position: relative;
                span {
                  font-size: 12px;
                  font-weight: 600;
                  font-family: "Poppins", sans-serif;
                }
                .barra {
                  height: 5px;
                  width: 90px;
                  background-color: #292c35;
                  border-radius: 6px;
                  display: block;
                  margin: 5px 0;
                  span {
                    /* background-color: #60cc56; */
                    background: linear-gradient(
                    90deg,
                    #60cc56,
                    rgb(35, 201, 5)
                    );
                    height: 5px;
                    display: block;
                    margin-top: 6px;
                    border-radius: 4px;
                  }
                }
                .pr {
                  position: absolute;
                  left: 73px;
                  bottom: -14px;
                  color: #0a750a;
                  font-size: 10px;
                }
              }
              .categoria {
                h1 {
                  padding: 6px 10px;
                  background-color: #be9325;
                  border-radius: 3px;
                  box-shadow: 0 0 1px rgba(0, 0, 0, 0.125),
                  0 1px 3px rgba(0, 0, 0, 0.2);
                  color: #fff;
                  font-size: 10px;
                  font-weight: 600;
                  font-family: "Poppins", sans-serif;
                }
              }
            }
          }
        }
      }
    }
    
    .container-aula {
      background-color: red;
    }
  }
}