@import '../onSite/reset';
@import '../onSite/normalize';
@import '../onSite/reset';
@import '../onSite/grid';
body{
    display: flex;
}
.container-form{
    display: flex;
    flex: 2;
    height: 100vh;
    background-color: #f5f8fd !important;
    color: #000 !important;
    justify-content: center;
    align-items: center;
    .container-data{
        width: 70%;
        position: relative;
        height: 100vh;
        display: flex;
        align-items: center;
        .info{
            flex: 1;
            height: 100vh;
            display: flex;
            align-items: center;
            font-family: "Poppins",sans-serif;
            font-size: 18px;
            p{
                margin-bottom: 40px;
                line-height: 1.7;
            }
            a{
                font-weight: 700;
                letter-spacing: 1px;
            }

            span{
                display: inline-flex;
                align-items: center;
                margin-right: 20px;
                font-size: 16px;
                margin-bottom: 10px;
                .icon{
                    font-size: 30px;
                    margin-right: 10px;
                    color: #438CE0;
                }
            }
            .link{
                color: #438CE0;
            }
        }
        img{
            text-align: center;
            display:block;
            margin:0 auto 50px;
            width: 260px;
        }
        @import '../onBack/Formulario.scss';
        .po{
            margin-top: 60px !important;
            display: inline-block;
            font-size: 16px;;
            font-family: "Poppins",sans-serif;
            a{
                display: inline-block;
            }
        }
        .facalog{
            font-weight: 700;
            letter-spacing: 1px;
        }
        footer{
            text-align: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 10px;
            width: 100%;

            background-color: transparent !important;
            color: #000;

            p{
                font-size: 10px;
                a{
                    color: #438CE0 !important;
                    text-decoration: none;
                    font-weight: 700
                }
            }
        }
    }
    .alerta-erro,.alerta-ok{
        background-color: #dd4545;
        height: 50px;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
        display: flex;/* 
        grid-template-columns: 1fr 60px; */
        align-items: center;
        position: absolute;
        top: 5%;
        right: 3%;
        transform: translateY(-20%);
        width: 30%;
        padding: 0 10px;
        .mensagem{
            /* grid-column: 1; */
            flex: 1;
            span{
                color: #fff;
                font-size: 16px;
                letter-spacing: .5px;
                font-weight: 600;
                font-family: 'Poppins',sans-serif

            }
        }

        .close{
            margin: 0 auto;
            display: block;
            span{
                color: #fff;
                height: 25px;
                width: 25px;
                border-radius: 50%;
                background-color: rgba(0,0,0,.6);
                cursor: pointer;
                display:flex;
                justify-content: center;
                align-items: center;
                transform: rotate(45deg);
                font-weight: 500;
                font-family: 'Poppins',sans-serif;
                &:hover{
                    background-color: rgba(0,0,0,.9);
                }
            }
        }
    }
    .alerta-ok{
        background-color: #1b9753;
    }
}
