.contactos{
    height: 800px;
    width: 100%;
    background: #434be0;
    background: linear-gradient(77deg, #434be0 25%, #4572cb 75%);
    padding: 120px 0 30px 0 !important;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 2%;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 80px;
        display: block;
        background-color: #e88d76 !important;
    }
        
    .eq-cab {
        position: relative;
        width: 800px;
        display: block;
        margin: 0 auto 30px;

        .titulo {
            text-align: center;
            color: #e88d76;
            font-size: 2.4rem;
            line-height: 1.375;
            letter-spacing: -0.1rem;
            &::after{
                content: none;
            }
            span {
                color: #fff;
                font-weight: 600;
            }
        }
        .desc {
            color: #ffffffc7;
            line-height: 1.5;
            font-size: 1.4rem;
            text-align: center;
            font-family: "Rubik","Poppins", "sans-serif";
            margin: 10px 0 40px;
            span{
                background-color: #dce9ff;
                padding: 4px 8px;
                border-radius: 4px;
                font-weight: 500;
                font-size: 14px;
                color: #3f506d;
                display: inline-block;
            }
        }
    }
    .container{
        position: relative;
        height: 100%;
        background-color: #f5f8fd ;
        margin-bottom: 3rem;
        padding: 50px;
        z-index: 2;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.06), 0 2px 5px 0 rgba(0,0,0,.2);
        .grid-6{
           textarea{
            width: 100%;
           }
           .obrig {
            margin: 30px 0;
            font-size: 14px;
        }
           .flex-d{
              &:nth-child(1){
                width: 110%;
              }
           }
           .submit{
               input{
                margin: 0 auto;
                display: block;
                text-transform: uppercase;
               }
           }


           .alerta-erro,.alerta-ok{
            background-color: #dd4545;
            height: 55px;
            border-radius: 2px;
            box-shadow: 0 1px 2px rgba(0,0,0,.1);
            display: flex;/* 
            grid-template-columns: 1fr 60px; */
            align-items: center;/* 
            position: absolute;
            top:20px;
            right: 20px; */
            padding: 0 10px;
            .mensagem{
                /* grid-column: 1; */
                flex: 1;
                span{
                    color: #fff;
                    font-size: 16px;
                    letter-spacing: .5px;
                    padding-right: 50px;
        
                }
            }
        
            .close-m{
                margin: 0 auto;
                display: block;
                span{
                    color: #fff;
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    background-color: rgba(0,0,0,.6);
                    cursor: pointer;
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    transform: rotate(45deg);
                    font-weight: 500;
                    font-family: 'Poppins',sans-serif;
                    &:hover{
                        background-color: rgba(0,0,0,.9);
                    }
                }
            }
        }
        .alerta-ok{
            background-color: #1b9753;
        }


        }
    }
}