
footer {
    background-color: #0a0a0ae1;
    width: 100%;
    position: relative;
    color: #fff;
    box-sizing: border-box;
    padding: 30px 0 0 0 !important;

    .footer {
        .foo {
            display: flex;
            p {
                font-size: 16px;
            }
            .foot {
                flex: 1;
                padding: 20px;
                position: relative;
                &:nth-child(1) {
                    padding-left: 0;
                    margin-left: 0;
                    &::before {
                        content: "";
                        height: 350px;
                        width: 1px;
                        background-color: #ccc;
                        display: block;
                        position: absolute;
                        top: 20%;
                        right: -10px;
                    }
                }

                .marca {
                    .logor {
                        .btnsaiba {
                            border: 2px solid #438ce0;
                            padding: 8px;
                            border-radius: 2px;
                            font-size: 16px;
                            color: #fff;
                            font-weight: 400;
                            display: inline-block;
                            margin-bottom: 20px;
                            cursor: pointer;
                            text-transform: uppercase;
                            &:hover {
                                background-color: #438ce0;
                            }
                        }
                        img {
                            width: 180px;
                        }
                        p {
                            margin: 8px 0 5px;
                            letter-spacing: 1px;
                            line-height: 1.4;
                            margin-bottom: 20px;
                            font-size: 16px;
                        }
                    }
                    .contacto {
                        h1 {
                            display: block;
                            font-size: 16px;
                            font-weight: 600;
                            padding-bottom: 5px;
                            letter-spacing: 1px;
                            color: #fff;
                            &::after {
                                content: "";
                                width: 35px;
                                height: 2px;
                                background-color: #ccc;
                                display: block;
                                margin-top: 5px;
                            }
                        }
                        p {
                            margin: 10px 0;
                            letter-spacing: 0.5;
                            font-size: 0.8em;
                            line-height: 1.3;
                            font-size: 16px;
                            span {
                                height: 20px;
                                width: 20px;
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                border: 1px solid #4099ff;
                                border-radius: 1px;
                                padding: 12px;
                            }
                            .i {
                                color: #4099ff;
                            }
                            a {
                                color: #fff;
                            }
                        }
                    }
                }

                .nav {
                    margin-top: 40px;
                    li {
                        margin: 10px 0;
                        cursor: pointer;
                        transition: all .5s ease;
                        &::before{
                            content: ">";
                            color: #e88d76;
                            display: inline-block;
                            margin-right: 10px;
                            font-size: 18px;
                            font-weight: 500;
                        }
                        &:hover{
                            transform: scale(1.04);
                        }
                        a {
                            color: #f5f8fd;
                            font-size: 16px;
                        }
                    }
                }

                .newsletter {
                    position: absolute;
                    bottom: 36px;
                    display: block;
                    p {
                        font-size: 16px;
                        margin-bottom: 20px;
                    }
                    form {
                        .email {
                            display: flex;
                            align-items: center;
                            border-radius: 4px;
                            overflow: hidden;
                            .fa-envelope {
                                color: #383737;
                            }
                        }
                        input {
                            box-shadow: 0.5px 1px 2px 0.5px rgba(0,0,0,.1);
                            margin-bottom: 20px;
                            border-radius: 2px;
                            display: flex;
                            align-items: center;
                            padding-right: 20px;
                            background-color: #fff;
                            border: none;
                            outline: none;
                            font-size: 16px;
                            padding: 12px 5px;
                            border-left: 6px solid #438CE0;
                            width: 100%;
                        }
                        input[type="submit"] {
                            width: 50%;
                            padding: 10px;
                            cursor: pointer;
                            background-color: #438CE0;
                            box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
                            border-radius: 2px;
                            color: #fefefe;
                            font-size: 16px;
                            font-weight: 500;
                            letter-spacing: 1px;
                            border: none;
                            outline: none;
                            text-align: center;
                            display: block;
                            text-transform: uppercase;
                            &:hover{
                                background-color: #4e99e9;
                            }
                        }
                    }
                }
            }
            .foot1 {
                flex: .7;
                padding: 20px 0 20px 30px;
            }
            .foot2 {
                flex: 1;
                padding-left: 20px;
                padding-right: 0;
                margin-left: 0;
                margin-right: 0;
            }
        }

        .foot-p {
            border-top: 1px solid #f5f8fd;
            width: 100%;
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 20px 0;
            .copy,
            .termos {
                grid-column: 3;
                color: #fff;
                text-align: right;
                font-size: 0.7rem;
                letter-spacing: 1px;
                a {
                    color: #e88d76;
                }
            }
            .termos {
                grid-column: 1;
                text-align: left;
                a {
                    color: #fff;
                    &:hover {
                        color: #a5a5a5e1;
                    }
                }
            }
            .redes-s {
                grid-column:2;
                display: flex;
                justify-content: center;
                span {
                    display: inline-flex;
                    height: 35px;
                    width: 35px;
                    border-radius: 50%;
                    border: 1px solid #fff;
                    justify-content: center;
                    align-items: center;
                    margin: 0 5px;
                    transition: all 0.5s;
                    &:nth-child(1):hover {
                        background-color: #3b5998;
                        border: none;
                        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                        a {
                            color: #fff !important;
                        }
                    }
                    &:nth-child(2):hover {
                        background: #f09433;
                        background: -moz-linear-gradient(
                            45deg,
                            #f09433 0%,
                            #e6683c 25%,
                            #dc2743 50%,
                            #cc2366 75%,
                            #bc1888 100%
                        );
                        background: -webkit-linear-gradient(
                            45deg,
                            #f09433 0%,
                            #e6683c 25%,
                            #dc2743 50%,
                            #cc2366 75%,
                            #bc1888 100%
                        );
                        background: linear-gradient(
                            45deg,
                            #f09433 0%,
                            #e6683c 25%,
                            #dc2743 50%,
                            #cc2366 75%,
                            #bc1888 100%
                        );
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
                        border: none;
                        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                        a {
                            color: #fff !important;
                        }
                    }
                    &:nth-child(3):hover {
                        background-color: #4099ff;
                        border: none;
                        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                        a {
                            color: #fff !important;
                        }
                    }
                    &:nth-child(4):hover {
                        background-color: #fff;
                        border: none;
                        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                        a {
                            color: #e53935 !important;
                        }
                    }
                    &:nth-child(5) {
                        margin-right: 0 !important;
                    }
                    &:nth-child(5):hover {
                        background-color: #fff;
                        border: none;
                        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                        margin-right: 0 !important;
                        a {
                            color: #181818 !important;
                        }
                    }
                    a {
                        color: #fff;
                        font-size: 20px;
                        display: flex;
                    }
                }
            }
        }
    }
}
.ft{
    padding: 0 !important;
    .foot-p{
        border-top: none !important;
    }
}