
.header-scroll {
    box-shadow: rgba(46, 61, 73, 0.2) 0px 1px 20px 0px !important;
    background-color: #f5f8fd !important;
    height: 87px !important;
    position: fixed;
    width: 100%;
    z-index: 1000;
    display: flex;
    .pre-header {
        display: none !important;
    }
    .menu {
        .logoprincipal {
            img {
                padding: 0 !important;
            }
        }
        .menu-nav {
            .nav-home,.nav-cur {
                li {
                    a {
                        color: #555 !important;
                        &:hover {
                            color: #8d8c8c !important;
                        }
                    }
                }
            }
        }
    }
    
}
.header {
    height: 87px;
    position: fixed;
    width: 100%;
    z-index: 8000;
    .pre-header {
        background: #f5f8fd;
        transition: background 0.3s linear;
        height: 30px;

        .info {
            height: 30px;
            p {
                color: #111;
                display: inline-block;
                letter-spacing: 1px;
                font-size: 10px;
                line-height: 30px;
                vertical-align: middle;
                .ic {
                    width: 10px;
                    vertical-align: middle;
                }
            }
            .email {
                margin-left: 40px;
            }
            .endereco {
                float: right !important;
            }
        }
    }

    .menu {
        display: flex;
        padding: 16px 0;
        .logoprincipal {
            display: flex;
            margin: 0 !important;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            a{
                display: flex;
                img {
                    width: 150px;
                }
            }
           
        }
        .menu-nav {
            display: flex;
            margin: 0 !important;
            padding: 10px 0;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            position: relative;
            flex: 2;
            z-index: 1000;
            p{
                display: none;
            }
            .nav-home {
                position: relative;
                margin-right: 30px;
                .animacao {
                    position: absolute;
                    height: 2.5px;
                    bottom: 0;
                    z-index: -1;
                    background: #ff8465;
                    border-radius: 2px;
                    transition: all 1s;
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                }
                li {
                    display: inline-block;
                    z-index: 1;
                    a {
                        color: #fff;
                        font-size: 1rem;
                        position: relative;
                        margin: 0 10px;
                        padding: 4px 0;
                        display: inline-block;
                        font-weight: 500;
                        &:hover {
                            color: #f1f1f1;
                        }
                    }
                }
                .link{
                    cursor: pointer;
                    text-decoration: none;
                    font-family: "Poppins";
                    color: #fff;
                        font-size: 1rem;
                        position: relative;
                        margin: 0 10px;
                        padding: 4px 0;
                        display: inline-block;
                        font-weight: 400;
                        &:hover {
                            color: #f1f1f1;
                        }
                  }

                .s-home,
                li:nth-child(1):hover ~ .animacao {
                    width: 45px;
                    left: 9.5px;
                }
                .s-sobre,
                li:nth-child(2):hover ~ .animacao {
                    width: 77px;
                    left: 73px;
                }
                .s-servicos,
                li:nth-child(3):hover ~ .animacao {
                    width: 65px;
                    left: 168px;
                }
                .s-portfolio,
                li:nth-child(4):hover ~ .animacao {
                    width: 65px;
                    left: 251px;
                }
                .s-cursos,
                li:nth-child(5):hover ~ .animacao {
                    width: 53px;
                    left: 335px;
                }
                .s-contato,
                li:nth-child(6):hover ~ .animacao {
                    width: 70px;
                    left: 408px;
                }
            }
            .social {
                display: none;
            }
            .foot-mob {
                display: none;
            }
        }
    }
}
.menu-privacidade{
    background-color: #f5f8fd !important;
    height: 140px;
    img{
        padding: 0 !important;
    }
    ul{
        li{
            
            a{
                color: #f5f8fd !important;
                font-size: 18px !important;
                display: block;
                padding: 10px !important;
                border-radius: 2px;
                box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                background-color: #438ce0;
                &:hover{
                    background-color: #5da2f1;
                }
            }
        }
    }
}