
.home {
    height: 100vh;
    position: relative;

    
.carousel {
    height: 100vh !important;

    @keyframes pulse-border {
        0% {
            transform: translate(-50%, -50%, 0) scale(1);
            opacity: 1;
        }
        100% {
            transform: translateX(-50%) translateY(-50%) translateZ(0)
                scale(1.5);
            opacity: 0;
        }
    }
    .carousel-1,.carousel-2,.carousel-3, .carousel-c{
        height: 100vh;
        .part {
            height: 100vh;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            justify-content: center;

            .mov {
                height: 100vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                grid-column: 1;
                h1 {
                    font-size: 3.4rem;
                    margin-bottom: 50px;
                    color: #fff;
                    text-align: left;
                    .react{
                        padding: 2px 10px;
                        border-radius: 14px;
                        background-color: #438ce0;
                        margin-top: 8px;
                        display: inline-block;
                        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
                        font-weight: 500;
                    }
                    .home-tex-span{
                        font-size: 50px;
                        display: inline-block;
                    }
                    .home-tex,.curs{
                        display: inline-block !important;
                        font-size: 20px;
                        display: block;
                        margin-top: 20px;
                        .home-tex-span,.textloop {
                            color: #e88d76;
                            font-weight: 600;
                        }
                    }
                    .home-tex{
                        margin-top: 0px;
                        .home-tex-span{
                            font-size: 50px;
                            display: inline-block;
                        }
                    }
                }
                .bot {
                    display: flex;
                    align-items: center;
                    .sbr {
                        font-size: 0.9em;
                        font-weight: 400;
                        text-transform: uppercase;
                        cursor: pointer;
                        transition: all .3s ease;
                        letter-spacing: 1px;
                    }
                    .play {
                        border-radius: 50% !important;
                        padding: 0 !important;
                        position: relative;
                        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                        margin-left: 40px;
                        display: inline-block;
                        height: 40px;
                        width: 40px;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 55%;
                            transform: translate(-50%, -50%);
                            border-style: solid;
                            border-width: 8px 0 8px 10px;
                            font-size: 1.4rem;
                            border-color: transparent transparent
                                transparent #fff;
                            z-index: 1;
                        }
                        &::after {
                            content: "";
                            height: 38px;
                            width: 38px;
                            background-color: #4099ff;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            animation: pulse-border 1500ms ease-out infinite;
                            transform: translateX(-50%) translateY(-50%);
                        }
                    }
                    .playsobre{
                        border-radius: 50% !important;
                        padding: 0 !important;
                        position: relative;
                        border: 1.5px solid #438ce0;
                        outline: none;
                        cursor: pointer;
                        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                        margin-left: 20px;
                        display: inline-block;
                        height: 40px;
                        width: 40px;
                        background-color: transparent;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 55%;
                            transform: translate(-50%, -50%);
                            border-style: solid;
                            border-width: 8px 0 8px 10px;
                            font-size: 1.4rem;
                            border-color: transparent transparent
                                transparent #fff;
                            z-index: 1;
                        }
                        &::after {
                            content: "";
                            height: 38px;
                            width: 38px;
                            background-color: #4099ff;
                            border-radius: 50%;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            animation: pulse-border 1500ms ease-out infinite;
                            transform: translateX(-50%) translateY(-50%);
                        }
                    }
                    .vid {
                        color: #fff;
                        margin-left: 15px;
                        font-size: 14px;
                    }
                }

                a {
                    position: relative;
                    color: #fff;
                    padding: 8px;
                    border-radius: 4px;
                    border: 2px solid #438ce0;
                    display: table;
                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                    &:hover {
                        background-color: #438ce0;
                    }
                }
            }
            .grid-space-{
                grid-column: 2;
            }
            .dev{
                background-color:#808699;
                box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
                opacity: .9;
                padding: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                img{
                    width: 120px;
                    height: 120px;
                }
                .grid-en-2{
                    .cont{
                        flex:1;
                        /* margin-top: 10px; */
                        display: flex;
                        div{
                            flex: 1;
                            display: flex;
                            flex-direction: column;
                            margin-left: 10px;
                            margin-right: 10px;
                            justify-content: center;
                            align-items: center;
                            background-color: #fff;
                            padding: 12px;
                            border-radius: 8px;
                            &:nth-last-of-type(1){
                                margin-right: 0;
                            }
                            &:nth-last-of-type(4){
                                margin-left: 0;
                            }
                            span{
                                font-size: 25px;
                                font-weight: 600;
                                margin-bottom: 3px;
                                color: #3f506d;
                            }
                            p{
                                font-size: 18px;
                                color: #3f506d;
                            }
                        }
                    }
                    h3{
                        margin-top: 20px;
                        color: #3f506d;
                        font-size: 18px;
                        font-weight: 500;
                        background-color: #fff;
                        border-radius: 6px;
                        padding: 10px;
                        text-align: center;
                    }
                    h4{
                        margin-bottom: 20px;
                        display: block;
                        text-align: center;
                        font-size: 40px;
                        color: #3f506d;
                        font-weight: 500;
                        letter-spacing: .5px;
                    }
                }
                .oportunidade{
                    display: block;
                    padding: 20px 40px;
                    text-transform: uppercase;
                    margin: 50px auto 0;
                    background-color:  #438ce0;
                    border-radius: 10px;
                    font-size: 22px;
                    color: #fff;
                    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
                    cursor: pointer;
                    opacity: 1 !important;
                    &:hover{
                        color: #fefefe !important;
                        background-color: #4e99e9;
                    }
                    
                }
            }
        }
    }
    .carousel-1 {
        background: linear-gradient(
                rgba(24, 24, 24, 0.3),
                rgba(24, 24, 24, 0.5)
            ),
            url("../img/luz.jpg") center center no-repeat;
            background-size: cover;
           
    }
    .carousel-2 {
        background: linear-gradient(
                rgba(24, 24, 24, 0.3),
                rgba(24, 24, 24, 0.5)
            ),
            url("../img/new-era.jpg") center center no-repeat;
            background-size: cover;
    }
    .carousel-3 {
        background: linear-gradient(
                rgba(24, 24, 24, 0.3),
                rgba(24, 24, 24, 0.5)
            ),
            url("../img/cursos.jpg") center center no-repeat;
            background-size: cover;
    }
   .dot{
        height: 4px !important;
        width: 28px !important;
        border-radius: 1.5px !important;
        transition: all .5s ease !important;
        margin: 5px 0 !important;
        outline: none !important;
        box-shadow: none !important;
        background: #fff !important;
        opacity: .6 !important;
        &.selected{
            background-color: #e88d76 !important;
            transform: scale(1.3);
            opacity: 1 !important;
        }
    }
    .control-dots {
        right: 10px !important;
        height: 100vh !important;
        display: flex !important;
        align-items: center !important;
        flex-direction: column !important;
        justify-content: center !important;
        width: 40px !important;
    } 



}
.redes {
    position: absolute;
    left: 48px;
    bottom: 54px;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    line-height: 1.75;
    text-align: center;
    z-index: 1;
    &::before {
        display: block;
        content: "";
        width: 2px;
        height: 42px;
        background-color: rgba(255, 255, 255, 0.3);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
    }
    li{
        height: 25px !important;
        margin: 5px 0;
        a {
            color: #fff;
            font-size: 20px;
            
            &:hover {
                color: #e9e9e9;
            }
        }
    }
}

.fim {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 40px;
    bottom: 6px;
    border: 2px solid #438ce0;
    transform: translateX(-50%);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    z-index: 1;

    &::after {
        content: "";
        width: 4px;
        height: 8px;
        background: #fff;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.125),
            0 1px 3px rgba(0, 0, 0, 0.2);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 10px;
        -webkit-animation: 1s ease-in 0s infinite alternate none running
            scroll;
        animation: 1s ease-in 0s infinite alternate none running scroll;
    }

    &::before {
        content: "";
        width: 1px;
        height: 18px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        display: block;
        background-color: #fff;
    }
}
}

@-webkit-keyframes scroll {
    100% {
        top: 8px;
    }
    0% {
        top: 3px;
    }
}
@keyframes scroll {
    100% {
        //opacity: 1;
        top: 8px;
    }
    0% {
        //opacity: 0;
        top: 3px;
    }
}