
.sobre {
    background-color: #f5f8fd;
    padding: 120px 0 0;
    position: relative;
    overflow-x:hidden !important;
    .status{
        text-align: center;
        margin:30px 0;
        .active, span{
            margin: 0 10px;
            font-size: 18px;
            font-weight: 400;
            padding: 6px 10px;
            background-color: #18181880;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
            border-radius: 3px;
            color: #fff;
            cursor: pointer;
            letter-spacing: 1px;
            text-transform: uppercase;
            &:hover{
                background-color: #29282880;
            }

        }
        .active{
            background-color: #438ce0;
            &:hover{
                background-color: #4e99e9;
            }
        }
    }
    .sb {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 20px;
    }
    .opc{
        margin-top: 50px;
        .grid-4{
            height: 300px;
            background-color: #438ce0;
            box-shadow: 0 2px 3px 0 rgba(0,0,0,.2);
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            padding: 20px;
            text-align: center;
            color: #fff;
            span{
                font-size: 32px;
                color: #18181880;
            }
            h1{
                font-size: 20px;
                font-weight: 500;
            }
            p{
                font-size: 16px;
                line-height: 1.5em;
            }
        }
    }
    .sobre-video {
        display: block;
        margin: 0 auto;
        text-align: center;
        height: 100%;
        position: relative;
        width: 100%;
        grid-column: 2;
        @keyframes pulse-border {
            0% {
                transform: translate(-50%, -50%, 0) scale(1);
                opacity: 1;
            }
            100% {
                transform: translateX(-50%) translateY(-50%) translateZ(0)
                    scale(1.5);
                opacity: 0;
            }
        }
        button{
            cursor: pointer;
            height: 100%;
            width: 100%;
            background-color: transparent;
            outline: none;
            border: none;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.125), 0 1px 3px rgba(0, 0, 0, 0.2);
            background: linear-gradient(
            rgba(24, 24, 24, 0.3),
            rgba(24, 24, 24, 0.5)),
            url("../img/img-curso/rea.png") center center no-repeat;
            background-size: cover;

            
            .vd {
                &::before {
                    content: "";
                    height: 100px;
                    width: 100px;
                    background-color: #4099ff;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                }
            }

            &::before {
                content: "";
                height: 100px;
                width: 100px;
                background-color: #4099ff;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                animation: pulse-border 1500ms ease-out infinite;

                transform: translateX(-50%) translateY(-50%);
            }
            &::after {
                content: "";
                position: absolute;
                display: block;
                top: 50%;
                left: 50%;
                transform: translate(-30%, -50%);
                border-left: 2.425rem solid #fff;
                border-top: 1.5rem solid transparent;
                border-bottom: 1.5rem solid transparent;
            }
            .back-bg {
                margin-left: -30px !important;
                margin-top: -20px;
                position: absolute;
                display: grid;
                justify-content: center;
                align-items: center;
                z-index: 0;
            }
        }}
    .sobrenos {
        position: relative;
        margin-right: 30px;
        width: 100%;
        grid-column: 1;
        &::after {
            content: "";
            position: absolute;
            top: -100px;
            bottom: 2%;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 80px;
            background-color: #393939;
        }
        .eq-cab {
            position: relative;
            display: block;
            margin: 0 auto;
            .mais {
                font-style: italic;
                letter-spacing: 1px;
                font-size: 16px;
            }
            .titulo {
                text-align: center;
                color: #393939;
                font-size: 2.4rem;
                line-height: 1.375;
                letter-spacing: -0.1rem;
                span {
                    color: #e88d76;
                    font-weight: 600;
                }
            }
            .desc {
                line-height: 1.4;
                font-size: 1.3rem;
                margin: 10px 0 10px;
                font-family: "Rubik","Poppins","sans-serif";
                ul{
                    li{
                        display: inline-block;
                        margin: 0 2px;
                        &::before{
                            content: "";
                            height: 10px;
                            width: 10px;
                            background-color: #438ce0;
                            border: 2px solid #fff;
                            border-radius: 50%;
                            display: inline-block;
                            margin-right: 5px;
                            box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
                        }
                    }
                }
            }
            
        }
    }
    .socia{
        display: flex;
        align-items: center;
        justify-content:space-between;
        margin: 20px 0;
        .redes-sobre {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;  
            gap: 10px;
            li {
                a {
                    font-size: 26px;
                    color: #438ce0;
                }
            }
        }
    }
    
    #ferramentas {
        background-color: #f5f8fd;
        
        .ferr {
            position: relative;
            .iconspeck {
                font-size: 60px !important;
                cursor: pointer !important;
                &:hover > .info-f {
                    display: flex;
                    transition: all 1s ease-in-out;
                }
                &:hover + .info-f {
                    display: flex;
                    transition: all 1s ease-in-out;
                }
            }
            .info-f {
                font-family: "Poppins", sans-serif;
                position: absolute;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 1px;
                background-color: #393939;
                transition: all 1s ease-in-out;
                color: #fff;
                top: -30px;
                left: 50%;
                width: 100%;
                height: 30px;
                border-radius: 2px;
                box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
                transform: translate(-50%, -50%);
                z-index: -1;

                display: none;
                align-items: center;
                justify-content: center;
                &::after {
                    content: "";
                    height: 16px;
                    width: 16px;
                    background-color: #393939;
                    display: block;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%) rotate(45deg);
                    z-index: -1;
                    bottom: -8px;
                }
            }
        }
        .ferr-itens {
            display: block;
            margin: 0 auto !important;
            text-align: center !important;

            .owl-item {
                opacity: 0.6;
                -moz-transition: all 0.6s ease-in-out;
                -o-transition: all 0.6s ease-in-out;
                -webkit-transition: all 0.6s ease-in-out;
                -ms-transition: all 0.6s ease-in-out;
                transition: all 0.6s ease-in-out;

                &:hover {
                    opacity: 1;
                }
            }
        }
        .owl-carousel {
            .owl-stage-outer {
                height: 160px;
                display: grid;
                vertical-align: middle;
                margin: 0 auto;
                align-items: center;
            }

            .owl-nav {
                text-align: center;
                -webkit-tap-highlight-color: transparent;
                .disabled {
                    background: rgba(0, 0, 0, 0.2);
                    cursor: default;
                    outline: none !important;
                }
            }
            .owl-nav [class*="owl-"] {
                color: red;
                font-family: "montserrat-regular", sans-serif;
                font-size: 1.4rem;
                height: 3rem;
                line-height: 3rem;
                margin: 0.6rem;
                padding: 0 10px;
                background: rgba(0, 0, 0, 0.5);
                display: inline-block;
                cursor: pointer;
                border-radius: 3px;

                &:hover {
                    background: rgba(0, 0, 0, 0.7);
                    color: #ffffff;
                    text-decoration: none;
                }
            }
            .owl-dots {
                text-align: center;
                -webkit-tap-highlight-color: transparent;

                .owl-dot {
                    display: inline-block;
                    zoom: 1;
                    *display: inline;
                    outline: none;
                    span {
                        width: 10px;
                        height: 10px;
                        background-color: #959595;
                        margin: 6px 6px;
                        display: block;
                        -webkit-backface-visibility: visible;
                        transition: opacity 200ms ease;
                        border-radius: 50%;
                    }
                    &:hover span {
                        background-color: #555;
                    }
                }
                .owl-dot.active span {
                    background-color: #fff;
                    border: 2px solid #438ce0;
                }
            }
        }
    }
}
.equipa-m,.equipa {
    padding: 140px 0 120px;
    //background-color: #f9fafc;
   
    width: 100%;
    /* background-color: #111111 !important; */
    background:  linear-gradient(
        rgba(24, 24, 24, 0.2),
        rgba(24, 24, 24, 0.3)),url("../img/equipa.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 4%;
        bottom: 2%;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 80px;
        display: block;
        background-color: #fff;
    }

    .eq-cab {
        position: relative;
        width: 800px;
        display: block;
        margin: 0 auto;

        .titulo {
            text-align: center;
            color: #fff;
            font-size: 2.4rem;
            line-height: 1.375;
            letter-spacing: -0.1rem;
            span {
                color: #e88d76;
                font-weight: 600;
            }
        }
        .desc {
            color: #ffffffc7;
            line-height: 1.5;
            font-size: 1.3rem;
            text-align: center;
            font-family: "Rubik","Poppins", "sans-serif";
            margin: 10px 0 40px;
            span{
                background-color: #dce9ff;
                padding: 4px 8px;
                border-radius: 4px;
                font-weight: 500;
                font-size: 14px;
                color: #3f506d;
                display: inline-block;
            }
        }
    }
    .membro-m{
        margin: 50px 0;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap:20px;
    }
    .membro {
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
        padding: 20px;
        background-color: #fff;
        height: 340px;
        width: 100%;
        border-radius: 2px;
        text-align: center;
        transition: all 0.5s;
        background-image: url("../img/background.svg");
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        margin: 0 !important;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 5px;
            background-color: #438ce0;
            transition: 0.5s;
        }

        .func {
            position: absolute;
            top: -20px;
            z-index: 1;
            h1 {
                background-color: #4099ff;
                font-size: 14px;
                padding: 2px 4px;
                border-radius: 2px;
                color: #fff;
                font-weight: 500;
                letter-spacing: 1px;
            }
        }
        &:nth-of-type(2) {
            &::after {
                background-color: #e88d76;
            }

            .img {
                &::before {
                    background: #e88d76;
                }
            }
            .func {
                h1 {
                    background-color: #e88d76;
                }
            }
        }
        &:nth-of-type(3) {
            &::after {
                background-color: #686362;
            }

            .img {
                &::before {
                    background: #686362;
                }
            }
            .func {
                h1 {
                    background-color: #686362;
                }
            }
        }
        &:nth-of-type(4) {
            &::after {
                background-color: #af8df1;
            }

            .img {
                &::before {
                    background: #af8df1;
                }
            }
            .func {
                h1 {
                    background-color: #af8df1;
                }
            }
        }
        &:hover {
            transform: scale(1.05);
            &::after {
                width: 100%;
            }
        }

        .logo {
            width: 40px;
        }
        .img {
            position: relative;
            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                object-fit: cover;
                //border: 2px solid #438CE0;
                padding: 6px;
            }
            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: 50%;
                left: 50%;
                display: block;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                background: #438ce0;
                animation: pulse-border 1500ms ease-out infinite;
                -webkit-transform: translateX(-50%) translateY(-50%);
                -ms-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
            }
        }

        @keyframes pulse-border {
            0% {
                transform: translate(-50%, -50%, 0) scale(1);
                opacity: 1;
            }
            100% {
                transform: translateX(-50%) translateY(-50%) translateZ(0)
                    scale(1.5);
                opacity: 0;
            }
        }
        h1 {
            margin: 10px 0 2px 0;
            font-size: 1.3rem;
            font-weight: 600;
            color: #555;
            font-family: "Rubik","Poppins","sans-serif";
        }
        h2 {
            font-size: 0.8rem;
            font-style: italic;
            letter-spacing: 0.5px;
            font-weight: 400;
            color: #555;
            margin-bottom: 30px;
            font-family: "Rubik","Poppins","sans-serif";
        }
        span {
            height: 25px;
            width: 25px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0 2px;
            transition: all 0.5s;

            a {
                color: #555;
                font-size: 16px;
                &:hover {
                    color: #747373;
                }
            }

            &:nth-child(9):hover {
                margin-right: 0 !important;
                a {
                    color: #181818 !important;
                }
            }
            &:nth-child(8):hover {
                a {
                    color: #000 !important;
                }
            }
            &:nth-child(7):hover {
                a {
                    color: #4099ff !important;
                }
            }

            &:nth-child(5):hover {
                a {
                    color: #3b5998 !important;
                }
            }
            &:nth-child(6):hover {
                a {
                    color: #0077b5 !important;
                }
            }
        }
    }
}

//Começa aqui o estilo para o curso react-native

.butProj{
    border: 2px solid #438ce0;
    padding: 8px 10px;
    border-radius: 15px;
    a{
        font-size: 16px;
        font-weight: 500;
    }
}

.equipa{
    background:none !important;
    background-color: #fff;
    padding: 120px 0 100px;
    &::after{
        display: none;
    }
    &::before{
        background-color: #fff;}
        .desc{
            span{
                background-color: transparent !important;;
                font-size: 16px !important;
                font-weight: 400;
            }
        }
    .ferr-texto{
        text-align: center;
        font-size: 20px;
        font-family: "Rubik","Poppins","sans-serif";
        
        position: relative;
        span{
            font-weight: 500;
            color: #438ce0;
        }
        .oportunidade{
            display: block;
            padding: 20px;
            text-transform: uppercase;
            width: 45%;
            margin: 50px auto 0;
            background-color:  #438ce0;
            border-radius: 10px;
            color: #fff;
            box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
            cursor: pointer;
            &:hover{
                color: #fefefe !important;
                background-color: #4e99e9;
            }
            
        }
    }
   .card-l{
    .professor{
        display: flex;
        height: 424px;
        align-items: center;
        .sobreM{
            height: 340px;
            width: 60%;
            display: flex;
            align-items: center;
            padding: 10px;
            position: relative;
            ul{
                li{
                    margin-top: 16px;
                    font-family: "Rubik","Poppins","sans-serif";
                    font-weight: 400;
                    &::before {
                        content: "\2714";
                        display: inline-block;
                        border-radius: 50%;
                        color: #23962d;
                        margin-right: 6px;
                        font-size: 18px;
                    }
                    i{
                        color: #e63434;
                        font-size: 18px;
                    }
                }
            }
            p{
                position: absolute;
                bottom: 8px;
                font-size: 14px;
                font-weight: 300;
                font-style: italic;
            }
        }

    }
    .ferr{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: -20%;
            bottom: 2%;
            left: 50%;
            transform: translateX(-50%);
            width: 2px;
            height: 80px;
            background-color: #393939;
            display: block;
        }
        .eq-cab {
            position: relative;
            width: 676px;
            display: block;
            margin: 0 auto;
    
            .titulo {
                text-align: center;
                color: #393939;
                font-size: 2.4rem;
                line-height: 1.375;
                letter-spacing: -0.1rem;
                span {
                    color: #e88d76;
                    font-weight: 600;
                }
            }
            .desc {
                /* color: #393939c7; */
                line-height: 1.4;
                font-size: 20px;
                text-align: left;
                font-family: "Rubik","Poppins","sans-serif";
                margin: 0;
                span{
                    margin:20px 0 0;
                    display: block;
                }
                img{
                    margin:10px 20px;
                }
            }
        }

        }
   }
}

